openapi: 3.0.0
info:
  title: commercetools Composable Commerce API
  version: v1
servers:
- url: https://api.us-central1.gcp.commercetools.com
paths:
  /{projectKey}/custom-objects:
    description: Store custom JSON values.
    get:
      summary: Query custom objects
      description: 'For performance reasons, it is highly advisable to query for Custom Objects in a container
        by using the `container` field in the `where` predicate.


        This endpoint is deprecated and replaced by the [Query CustomObjects in Container](ctp:api:endpoint:/{projectKey}/custom-objects/{container}:GET)
        endpoint.'
      operationId: listCustomObjects
      parameters:
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Sort expression; can be repeated to sort by several fields, for example `createdAt
          desc`
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Number of results to return per page. Defaults to 20, maximum 500
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-annotation-default: 20
      - name: offset
        in: query
        description: Number of results to skip, used for pagination. Defaults to 0, maximum 10000
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-annotation-default: 0
      - name: withTotal
        in: query
        description: If false, the total count is not calculated, which improves performance of paged
          queries. Defaults to true
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-annotation-default: true
      - name: where
        in: query
        description: Query predicate to filter the results
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: A paged list of custom objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectPagedQueryResponse'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - view_products:{projectKey}
        - view_orders:{projectKey}
        - view_customers:{projectKey}
        - view_key_value_documents:{projectKey}
      x-markDeprecated: true
    post:
      summary: Create or update a custom object
      description: 'If an object with the given container/key exists, the object will be replaced with
        the new value and the version is incremented.

        If the request contains a version and an object with the given container/key, then the version
        must match the version of the existing object. Concurrent updates to the same Custom Object returns
        a [ConcurrentModification](ctp:api:type:ConcurrentModificationError) error even if the version
        is not provided.


        Fields within `value` that have `null` values **are not saved**.'
      operationId: createOrUpdateCustomObject
      parameters:
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomObjectDraft'
        description: Custom object draft with container, key, value and optional version
      responses:
        '200':
          description: The updated custom object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObject'
        '201':
          description: The created custom object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObject'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - manage_products:{projectKey}
        - manage_orders:{projectKey}
        - manage_customers:{projectKey}
        - manage_key_value_documents:{projectKey}
    parameters:
    - name: projectKey
      in: path
      description: The `key` of the Project
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /{projectKey}/custom-objects/{container}:
    get:
      summary: Query custom objects in a container
      operationId: listCustomObjectsByContainer
      parameters:
      - name: sort
        in: query
        description: Sort expression; can be repeated to sort by several fields, for example `createdAt
          desc`
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: where
        in: query
        description: Query predicate to filter the results
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Number of results to return per page. Defaults to 20, maximum 500
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-annotation-default: 20
      - name: offset
        in: query
        description: Number of results to skip, used for pagination. Defaults to 0, maximum 10000
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-annotation-default: 0
      - name: withTotal
        in: query
        description: If false, the total count is not calculated, which improves performance of paged
          queries. Defaults to true
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-annotation-default: true
      responses:
        '200':
          description: A paged list of custom objects in the container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectPagedQueryResponse'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - view_products:{projectKey}
        - view_orders:{projectKey}
        - view_customers:{projectKey}
        - view_key_value_documents:{projectKey}
    parameters:
    - name: projectKey
      in: path
      description: The `key` of the Project
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: container
      in: path
      description: The container of the Custom Objects
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-methodName: withContainer
  /{projectKey}/custom-objects/{container}/{key}:
    get:
      summary: Get a custom object by container and key
      operationId: getCustomObjectByContainerAndKey
      parameters:
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: The requested custom object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObject'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - view_products:{projectKey}
        - view_orders:{projectKey}
        - view_customers:{projectKey}
        - view_key_value_documents:{projectKey}
    delete:
      summary: Delete a custom object by container and key
      operationId: deleteCustomObjectByContainerAndKey
      parameters:
      - name: version
        in: query
        description: Expected current version of the resource; the request fails with a concurrency error
          if it does not match
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: dataErasure
        in: query
        description: If true, personal data related to the resource is erased from all related resources
          and logs (GDPR). Defaults to false
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-annotation-default: false
      responses:
        '200':
          description: The deleted custom object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObject'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - manage_products:{projectKey}
        - manage_orders:{projectKey}
        - manage_customers:{projectKey}
        - manage_key_value_documents:{projectKey}
    parameters:
    - name: projectKey
      in: path
      description: The `key` of the Project
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: container
      in: path
      description: The container of the Custom Objects
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: key
      in: path
      description: User-defined unique identifier of the resource (or of the Custom Object within its
        container)
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-methodName: withContainerAndKey
  /{projectKey}/product-types:
    description: 'Product Types are used to describe common characteristics, most importantly common custom
      attributes,

      of many concrete products.'
    get:
      summary: Query product types
      operationId: listProductTypes
      parameters:
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Sort expression; can be repeated to sort by several fields, for example `createdAt
          desc`
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Number of results to return per page. Defaults to 20, maximum 500
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-annotation-default: 20
      - name: offset
        in: query
        description: Number of results to skip, used for pagination. Defaults to 0, maximum 10000
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-annotation-default: 0
      - name: withTotal
        in: query
        description: If false, the total count is not calculated, which improves performance of paged
          queries. Defaults to true
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-annotation-default: true
      - name: where
        in: query
        description: Query predicate to filter the results
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: A paged list of product types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductTypePagedQueryResponse'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - view_product_types:{projectKey}
        - view_products:{projectKey}
    post:
      summary: Create a product type
      operationId: createProductType
      parameters:
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductTypeDraft'
        description: Product type draft with key, name, description and attribute definitions
      responses:
        '201':
          description: The created product type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductType'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - manage_product_types:{projectKey}
        - manage_products:{projectKey}
    parameters:
    - name: projectKey
      in: path
      description: The `key` of the Project
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-updateable: ProductType
    x-annotation-deleteable: ProductType
    x-annotation-createable: ProductTypeDraft
  /{projectKey}/product-types/key={key}:
    get:
      summary: Get a product type by key
      operationId: getProductTypeByKey
      parameters:
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: The requested product type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductType'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - view_product_types:{projectKey}
        - view_products:{projectKey}
    post:
      summary: Update a product type by key
      operationId: updateProductTypeByKey
      parameters:
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductTypeUpdate'
        description: Version and update actions to apply to the product type identified by key
      responses:
        '200':
          description: The updated product type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductType'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - manage_product_types:{projectKey}
        - manage_products:{projectKey}
    delete:
      summary: Delete a product type by key
      operationId: deleteProductTypeByKey
      parameters:
      - name: version
        in: query
        description: Expected current version of the resource; the request fails with a concurrency error
          if it does not match
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: The deleted product type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductType'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - manage_product_types:{projectKey}
        - manage_products:{projectKey}
    parameters:
    - name: projectKey
      in: path
      description: The `key` of the Project
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: key
      in: path
      description: User-defined unique identifier of the resource (or of the Custom Object within its
        container)
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-methodName: withKey
  /{projectKey}/product-types/{id}:
    get:
      summary: Get a product type by ID
      operationId: getProductTypeById
      parameters:
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: The requested product type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductType'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - view_product_types:{projectKey}
        - view_products:{projectKey}
    post:
      summary: Update a product type by ID
      operationId: updateProductTypeById
      parameters:
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductTypeUpdate'
        description: Version and update actions to apply to the product type identified by ID
      responses:
        '200':
          description: The updated product type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductType'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - manage_product_types:{projectKey}
        - manage_products:{projectKey}
    delete:
      summary: Delete a product type by ID
      operationId: deleteProductTypeById
      parameters:
      - name: version
        in: query
        description: Expected current version of the resource; the request fails with a concurrency error
          if it does not match
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: The deleted product type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductType'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - manage_product_types:{projectKey}
        - manage_products:{projectKey}
    parameters:
    - name: projectKey
      in: path
      description: The `key` of the Project
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: id
      in: path
      description: System-generated unique identifier of the resource
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-methodName: withId
  /{projectKey}/types:
    description: Types define custom fields that are used to enhance resources as you need.
    get:
      summary: Query types
      operationId: listTypes
      parameters:
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Sort expression; can be repeated to sort by several fields, for example `createdAt
          desc`
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Number of results to return per page. Defaults to 20, maximum 500
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-annotation-default: 20
      - name: offset
        in: query
        description: Number of results to skip, used for pagination. Defaults to 0, maximum 10000
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-annotation-default: 0
      - name: withTotal
        in: query
        description: If false, the total count is not calculated, which improves performance of paged
          queries. Defaults to true
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-annotation-default: true
      - name: where
        in: query
        description: Query predicate to filter the results
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: A paged list of types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypePagedQueryResponse'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - view_types:{projectKey}
    post:
      summary: Create a type
      operationId: createType
      parameters:
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TypeDraft'
        description: Type draft with key, name, resource type IDs and field definitions
      responses:
        '201':
          description: The created type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - manage_types:{projectKey}
    parameters:
    - name: projectKey
      in: path
      description: The `key` of the Project
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-updateable: Type
    x-annotation-deleteable: Type
    x-annotation-createable: TypeDraft
  /{projectKey}/types/key={key}:
    get:
      summary: Get a type by key
      operationId: getTypeByKey
      parameters:
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: The requested type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - view_types:{projectKey}
    post:
      summary: Update a type by key
      operationId: updateTypeByKey
      parameters:
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TypeUpdate'
        description: Version and update actions to apply to the type identified by key
      responses:
        '200':
          description: The updated type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - manage_types:{projectKey}
    delete:
      summary: Delete a type by key
      operationId: deleteTypeByKey
      parameters:
      - name: version
        in: query
        description: Expected current version of the resource; the request fails with a concurrency error
          if it does not match
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: The deleted type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - manage_types:{projectKey}
    parameters:
    - name: projectKey
      in: path
      description: The `key` of the Project
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: key
      in: path
      description: User-defined unique identifier of the resource (or of the Custom Object within its
        container)
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-methodName: withKey
  /{projectKey}/types/{id}:
    get:
      summary: Get a type by ID
      operationId: getTypeById
      parameters:
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: The requested type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - view_types:{projectKey}
    post:
      summary: Update a type by ID
      operationId: updateTypeById
      parameters:
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TypeUpdate'
        description: Version and update actions to apply to the type identified by ID
      responses:
        '200':
          description: The updated type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - manage_types:{projectKey}
    delete:
      summary: Delete a type by ID
      operationId: deleteTypeById
      parameters:
      - name: version
        in: query
        description: Expected current version of the resource; the request fails with a concurrency error
          if it does not match
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: expand
        in: query
        description: A field to expand. Reference fields can be expanded to include the referenced resource
          inline
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: The deleted type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
      security:
      - oauth_2_0:
        - manage_types:{projectKey}
    parameters:
    - name: projectKey
      in: path
      description: The `key` of the Project
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: id
      in: path
      description: System-generated unique identifier of the resource
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-methodName: withId
components:
  schemas:
    Locale:
      type: string
    StoreKeyReference:
      allOf:
      - $ref: '#/components/schemas/KeyReference'
      - required:
        - key
        - typeId
        type: object
        properties:
          typeId:
            $ref: '#/components/schemas/ReferenceTypeId'
          key:
            type: string
    Address:
      allOf:
      - $ref: '#/components/schemas/BaseAddress'
      - type: object
        properties:
          country:
            $ref: '#/components/schemas/CountryCode'
          lastName:
            type: string
          city:
            type: string
          postalCode:
            type: string
          title:
            type: string
          building:
            type: string
          streetName:
            type: string
          company:
            type: string
          id:
            type: string
          state:
            type: string
          department:
            type: string
          fax:
            type: string
          key:
            type: string
          email:
            type: string
          pOBox:
            type: string
          streetNumber:
            type: string
          custom:
            $ref: '#/components/schemas/CustomFields'
          mobile:
            type: string
          externalId:
            type: string
          additionalAddressInfo:
            type: string
          firstName:
            type: string
          phone:
            type: string
          additionalStreetInfo:
            type: string
          salutation:
            type: string
          region:
            type: string
          apartment:
            type: string
    KeyReference:
      required:
      - key
      - typeId
      type: object
      properties:
        typeId:
          $ref: '#/components/schemas/ReferenceTypeId'
        key:
          type: string
      discriminator:
        propertyName: typeId
        mapping:
          store: '#/components/schemas/StoreKeyReference'
    Customer:
      allOf:
      - $ref: '#/components/schemas/BaseResource'
      - required:
        - addresses
        - authenticationMode
        - billingAddressIds
        - createdAt
        - customerGroupAssignments
        - email
        - id
        - isEmailVerified
        - lastModifiedAt
        - shippingAddressIds
        - stores
        - version
        type: object
        properties:
          lastName:
            type: string
          addresses:
            type: array
            items:
              $ref: '#/components/schemas/Address'
          lastModifiedAt:
            type: string
            format: datetime
          companyName:
            type: string
          vatId:
            type: string
          title:
            type: string
          locale:
            $ref: '#/components/schemas/Locale'
          shippingAddressIds:
            type: array
            items:
              type: string
          isEmailVerified:
            type: boolean
          createdAt:
            type: string
            format: datetime
          password:
            type: string
          id:
            type: string
          authenticationMode:
            $ref: '#/components/schemas/AuthenticationMode'
          key:
            type: string
          email:
            type: string
          customerGroup:
            $ref: '#/components/schemas/CustomerGroupReference'
          stores:
            type: array
            items:
              $ref: '#/components/schemas/StoreKeyReference'
          lastModifiedBy:
            $ref: '#/components/schemas/LastModifiedBy'
          custom:
            $ref: '#/components/schemas/CustomFields'
          externalId:
            type: string
          dateOfBirth:
            type: string
            format: date-only
          customerGroupAssignments:
            type: array
            items:
              $ref: '#/components/schemas/CustomerGroupAssignment'
          customerNumber:
            type: string
          defaultShippingAddressId:
            type: string
          billingAddressIds:
            type: array
            items:
              type: string
          version:
            type: integer
            format: int64
          defaultBillingAddressId:
            type: string
          firstName:
            type: string
          createdBy:
            $ref: '#/components/schemas/CreatedBy'
          middleName:
            type: string
          salutation:
            type: string
    FieldDefinition:
      required:
      - label
      - name
      - required
      - type
      type: object
      properties:
        name:
          type: string
        inputHint:
          $ref: '#/components/schemas/TypeTextInputHint'
        label:
          $ref: '#/components/schemas/LocalizedString'
        type:
          $ref: '#/components/schemas/FieldType'
        required:
          type: boolean
    CustomerGroupAssignment:
      required:
      - customerGroup
      type: object
      properties:
        customerGroup:
          $ref: '#/components/schemas/CustomerGroupReference'
    AttributeDefinitionDraft:
      required:
      - isRequired
      - label
      - name
      - type
      type: object
      properties:
        isRequired:
          type: boolean
        level:
          $ref: '#/components/schemas/AttributeLevelEnum'
        name:
          type: string
        attributeConstraint:
          $ref: '#/components/schemas/AttributeConstraintEnum'
        inputHint:
          $ref: '#/components/schemas/TextInputHint'
        label:
          $ref: '#/components/schemas/LocalizedString'
        isSearchable:
          type: boolean
        type:
          $ref: '#/components/schemas/AttributeType'
        inputTip:
          $ref: '#/components/schemas/LocalizedString'
    CustomFieldReferenceValue:
      type: string
      enum:
      - approval-flow
      - approval-rule
      - associate-role
      - business-unit
      - cart
      - cart-discount
      - category
      - channel
      - customer
      - customer-group
      - key-value-document
      - order
      - product
      - product-type
      - review
      - state
      - shipping-method
      - variant
      - zone
      x-annotation-package: Type
      x-annotation-enumDescriptions:
        approval-flow: '[ApprovalFlow](ctp:api:type:ApprovalFlow) - Only available for [B2B](/offering/commerce-b2b)-enabled
          Projects.n'
        approval-rule: '[ApprovalRule](ctp:api:type:ApprovalRule) - Only available for [B2B](/offering/commerce-b2b)-enabled
          Projects.n'
        associate-role: '[AssociateRole](ctp:api:type:AssociateRole) - Only available for [B2B](/offering/commerce-b2b)-enabled
          Projects.n'
        business-unit: '[BusinessUnit](ctp:api:type:BusinessUnit) - Only available for [B2B](/offering/commerce-b2b)-enabled
          Projects.n'
        cart: '[Cart](ctp:api:type:Cart)n'
        cart-discount: '[CartDiscount](ctp:api:type:CartDiscount)n'
        category: '[Category](ctp:api:type:Category)n'
        channel: '[Channel](ctp:api:type:Channel)n'
        customer: '[Customer](ctp:api:type:Customer)n'
        customer-group: '[CustomerGroup](ctp:api:type:CustomerGroup)n'
        key-value-document: '[CustomObject](ctp:api:type:CustomObject)n'
        order: '[Order](ctp:api:type:Order)n'
        product: '[Product](ctp:api:type:Product)n'
        product-type: '[ProductType](ctp:api:type:ProductType)n'
        review: '[Review](ctp:api:type:Review)n'
        state: '[State](ctp:api:type:State)n'
        shipping-method: '[ShippingMethod](ctp:api:type:ShippingMethod)n'
        variant: '[Variant](ctp:api:type:Variant) - Only available for Projects with `productCatalogModel`
          set to `Modular`.n'
        zone: '[Zone](ctp:api:type:Zone)n'
    AttributeConstraintEnumDraft:
      type: string
      enum:
      - None
      x-annotation-package: ProductType
    AttributeLocalizedEnumValue:
      required:
      - key
      - label
      type: object
      properties:
        label:
          $ref: '#/components/schemas/LocalizedString'
        key:
          type: string
    ProductTypeDraft:
      required:
      - description
      - name
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/AttributeDefinitionDraft'
        key:
          type: string
    TypeDraft:
      required:
      - key
      - name
      - resourceTypeIds
      type: object
      properties:
        name:
          $ref: '#/components/schemas/LocalizedString'
        description:
          $ref: '#/components/schemas/LocalizedString'
        fieldDefinitions:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        key:
          type: string
        resourceTypeIds:
          type: array
          items:
            $ref: '#/components/schemas/ResourceTypeId'
    AttributeType:
      required:
      - name
      type: object
      properties:
        name:
          type: string
    ProductTypeUpdateAction:
      required:
      - action
      type: object
      properties:
        action:
          type: string
    ResourceTypeId:
      type: string
      enum:
      - address
      - asset
      - approval-flow
      - approval-rule
      - associate-role
      - business-unit
      - cart-discount
      - category
      - channel
      - customer
      - customer-group
      - custom-line-item
      - discount-code
      - inventory-entry
      - line-item
      - order
      - order-edit
      - order-delivery
      - order-parcel
      - order-return-item
      - payment
      - payment-interface-interaction
      - payment-method
      - payment-method-info
      - product-price
      - product-selection
      - product-tailoring
      - quote
      - reservation
      - review
      - recurring-order
      - shipping
      - shipping-method
      - shopping-list
      - shopping-list-text-line-item
      - standalone-price
      - store
      - transaction
      x-annotation-package: Type
      x-annotation-enumDescriptions:
        address: '[Address](ctp:api:type:Address) on [BusinessUnit](ctp:api:type:BusinessUnit), [Cart](ctp:api:type:Cart),
          [Order](ctp:api:type:Order), [OrderEdit](ctp:api:type:OrderEdit), [Customer](ctp:api:type:Customer),
          and [Channel](ctp:api:type:Channel)n'
        asset: '[Asset](ctp:api:type:Asset) on [Category](ctp:api:type:Category) and [ProductVariant](ctp:api:type:ProductVariant)n'
        approval-flow: '[ApprovalFlow](ctp:api:type:ApprovalFlow) - Only available for [B2B](/offering/commerce-b2b)-enabled
          Projects.n'
        approval-rule: '[ApprovalRule](ctp:api:type:ApprovalRule) - Only available for [B2B](/offering/commerce-b2b)-enabled
          Projects.n'
        associate-role: '[AssociateRole](ctp:api:type:AssociateRole) - Only available for [B2B](/offering/commerce-b2b)-enabled
          Projects.n'
        business-unit: '[BusinessUnit](ctp:api:type:BusinessUnit) - Only available for [B2B](/offering/commerce-b2b)-enabled
          Projects.n'
        cart-discount: '[CartDiscount](ctp:api:type:CartDiscount)n'
        category: '[Category](ctp:api:type:Category)n'
        channel: '[Channel](ctp:api:type:Channel)n'
        custom-line-item: '[CustomLineItem](ctp:api:type:CustomLineItem) on [Cart](ctp:api:type:Cart)
          and [Order](ctp:api:type:Order)n'
        customer: '[Customer](ctp:api:type:Customer)n'
        customer-group: '[CustomerGroup](ctp:api:type:CustomerGroup)n'
        discount-code: '[DiscountCode](ctp:api:type:DiscountCode)n'
        inventory-entry: '[InventoryEntry](ctp:api:type:InventoryEntry)n'
        line-item: '[LineItem](ctp:api:type:LineItem) on [Cart](ctp:api:type:Cart) and [Order](ctp:api:type:Order),
          and [LineItem](ctp:api:type:LineItem) on [ShoppingList](ctp:api:type:ShoppingList)n'
        order: '[Cart](ctp:api:type:Cart) and [Order](ctp:api:type:Order).nWhen a [Cart](ctp:api:type:Cart)
          is ordered, the [CustomFields](ctp:api:type:CustomFields) need to be copied to the [Order](ctp:api:type:Order).nFor
          this reason, the Types for Carts are also valid for Orders, and hence both have the same identifier:
          `order`.n'
        order-edit: '[OrderEdit](ctp:api:type:OrderEdit)n'
        order-delivery: '[Delivery](ctp:api:type:Delivery)n'
        order-parcel: '[Parcel](ctp:api:type:Parcel)n'
        order-return-item: '[ReturnItem](ctp:api:type:ReturnItem)n'
        payment: '[Payment](ctp:api:type:Payment)n'
        payment-interface-interaction: '[InterfaceInteraction](ctp:api:type:PaymentAddInterfaceInteractionAction)
          on [Payment](ctp:api:type:Payment)n'
        payment-method: '[PaymentMethod](ctp:api:type:PaymentMethod)n'
        payment-method-info: '[PaymentMethodInfo](ctp:api:type:PaymentMethodInfo) on [Payment](ctp:api:type:Payment)n'
        product-price: '[Embedded Price](ctp:api:type:Price) on [ProductVariant](ctp:api:type:ProductVariant)n'
        product-selection: '[ProductSelection](ctp:api:type:ProductSelection)n'
        product-tailoring: '[ProductTailoring](ctp:api:type:ProductTailoring)n'
        quote: '[Quote](ctp:api:type:Quote), [QuoteRequest](ctp:api:type:QuoteRequest) and [StagedQuote](ctp:api:type:StagedQuote).nWhen
          a [StagedQuote](ctp:api:type:StagedQuote) is created, the [CustomFields](ctp:api:type:CustomFields)
          will be copied from the [QuoteRequest](ctp:api:type:QuoteRequest) and when a [Quote](ctp:api:type:Quote)
          is created, the [CustomFields](ctp:api:type:CustomFields) will be copied from the [StagedQuote](ctp:api:type:StagedQuote).nFor
          this reason, the Types for Quotes are also valid for QuoteRequests and StagedQuotes, and hence
          all have the same identifier: `quote`.n'
        reservation: '[Reservation](ctp:api:type:Reservation)n'
        review: '[Review](ctp:api:type:Review)n'
        recurring-order: '[RecurringOrder](ctp:api:type:RecurringOrder)n'
        shipping: '[Shipping](ctp:api:type:Shipping)n'
        shipping-method: '[ShippingMethod](ctp:api:type:ShippingMethod)n'
        shopping-list: '[ShoppingList](ctp:api:type:ShoppingList)n'
        shopping-list-text-line-item: '[TextLineItem](ctp:api:type:TextLineItem) on [ShoppingList](ctp:api:type:ShoppingList)n'
        standalone-price: '[StandalonePrice](ctp:api:type:StandalonePrice)n'
        store: '[Store](ctp:api:type:Store)n'
        transaction: '[Transaction](ctp:api:type:Transaction) on [Payment](ctp:api:type:Payment)n'
    TextInputHint:
      type: string
      enum:
      - SingleLine
      - MultiLine
      x-annotation-package: ProductType
      x-annotation-enumDescriptions:
        SingleLine: Hint for GUIs to display the field's content in a single line of text.n
        MultiLine: Hint for GUIs to display the field's content over multiple lines of text.n
    CreatedBy:
      allOf:
      - $ref: '#/components/schemas/ClientLogging'
      - type: object
        properties:
          anonymousId:
            type: string
          clientId:
            type: string
          externalUserId:
            type: string
          attributedTo:
            $ref: '#/components/schemas/Attribution'
          associate:
            $ref: '#/components/schemas/CustomerReference'
          customer:
            $ref: '#/components/schemas/CustomerReference'
    CustomObject:
      allOf:
      - $ref: '#/components/schemas/BaseResource'
      - required:
        - container
        - createdAt
        - id
        - key
        - lastModifiedAt
        - value
        - version
        type: object
        properties:
          container:
            type: string
          createdAt:
            type: string
            format: datetime
          lastModifiedAt:
            type: string
            format: datetime
          createdBy:
            $ref: '#/components/schemas/CreatedBy'
          lastModifiedBy:
            $ref: '#/components/schemas/LastModifiedBy'
          id:
            type: string
          version:
            type: integer
            format: int64
          value: {}
          key:
            type: string
    AttributeConstraintEnum:
      type: string
      enum:
      - None
      - Unique
      - CombinationUnique
      - SameForAll
      x-annotation-package: ProductType
      x-annotation-enumDescriptions:
        None: No constraints are applied to the Attribute.n
        Unique: Attribute values must be different for each variant.n
        CombinationUnique: Set of Attributes that have this constraint, should have different combinations
          in each variant.n
        SameForAll: Attribute value should be the same in all variants.n
    CustomerGroup:
      allOf:
      - $ref: '#/components/schemas/BaseResource'
      - required:
        - createdAt
        - id
        - lastModifiedAt
        - name
        - version
        type: object
        properties:
          createdAt:
            type: string
            format: datetime
          lastModifiedAt:
            type: string
            format: datetime
          createdBy:
            $ref: '#/components/schemas/CreatedBy'
          lastModifiedBy:
            $ref: '#/components/schemas/LastModifiedBy'
          custom:
            $ref: '#/components/schemas/CustomFields'
          name:
            type: string
          id:
            type: string
          version:
            type: integer
            format: int64
          key:
            type: string
    ErrorObject:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      additionalProperties:
        type: string
    ProductType:
      allOf:
      - $ref: '#/components/schemas/BaseResource'
      - required:
        - createdAt
        - description
        - id
        - lastModifiedAt
        - name
        - version
        type: object
        properties:
          createdAt:
            type: string
            format: datetime
          lastModifiedAt:
            type: string
            format: datetime
          createdBy:
            $ref: '#/components/schemas/CreatedBy'
          lastModifiedBy:
            $ref: '#/components/schemas/LastModifiedBy'
          name:
            type: string
          description:
            type: string
          attributes:
            type: array
            items:
              $ref: '#/components/schemas/AttributeDefinition'
          id:
            type: string
          version:
            type: integer
            format: int64
          key:
            type: string
    Attribution:
      required:
      - source
      type: object
      properties:
        clientId:
          type: string
        source:
          $ref: '#/components/schemas/AttributionSource'
    AuthenticationMode:
      type: string
      enum:
      - Password
      - ExternalAuth
      x-annotation-package: Customer
      x-annotation-enumDescriptions:
        Password: This is the default value. If set, the `password` field is required on [CustomerDraft](ctp:api:type:CustomerDraft)
          and is present on [Customer](ctp:api:type:Customer).
        ExternalAuth: If set, the `password` field is optional on [CustomerDraft](ctp:api:type:CustomerDraft)
          and is not present on [Customer](ctp:api:type:Customer).
    CustomerReference:
      allOf:
      - $ref: '#/components/schemas/Reference'
      - required:
        - id
        - typeId
        type: object
        properties:
          obj:
            $ref: '#/components/schemas/Customer'
          typeId:
            $ref: '#/components/schemas/ReferenceTypeId'
          id:
            type: string
    CustomFields:
      required:
      - fields
      - type
      type: object
      properties:
        type:
          $ref: '#/components/schemas/TypeReference'
        fields:
          $ref: '#/components/schemas/FieldContainer'
    ProductTypePagedQueryResponse:
      required:
      - count
      - limit
      - offset
      - results
      type: object
      properties:
        total:
          type: integer
          format: int64
        offset:
          type: integer
          format: int64
        limit:
          type: integer
          format: int64
        count:
          type: integer
          format: int64
        results:
          type: array
          items:
            $ref: '#/components/schemas/ProductType'
    CustomObjectPagedQueryResponse:
      required:
      - count
      - limit
      - offset
      - results
      type: object
      properties:
        total:
          type: integer
          format: int64
        offset:
          type: integer
          format: int64
        limit:
          type: integer
          format: int64
        count:
          type: integer
          format: int64
        results:
          type: array
          items:
            $ref: '#/components/schemas/CustomObject'
    CustomFieldLocalizedEnumValue:
      required:
      - key
      - label
      type: object
      properties:
        label:
          $ref: '#/components/schemas/LocalizedString'
        key:
          type: string
    CustomObjectDraft:
      required:
      - container
      - key
      - value
      type: object
      properties:
        container:
          type: string
        value: {}
        version:
          type: integer
          format: int64
        key:
          type: string
    TypeUpdateAction:
      required:
      - action
      type: object
      properties:
        action:
          type: string
    LastModifiedBy:
      allOf:
      - $ref: '#/components/schemas/ClientLogging'
      - type: object
        properties:
          anonymousId:
            type: string
          clientId:
            type: string
          externalUserId:
            type: string
          attributedTo:
            $ref: '#/components/schemas/Attribution'
          associate:
            $ref: '#/components/schemas/CustomerReference'
          customer:
            $ref: '#/components/schemas/CustomerReference'
    AttributeDefinition:
      required:
      - attributeConstraint
      - inputHint
      - isRequired
      - isSearchable
      - label
      - level
      - name
      - type
      type: object
      properties:
        isRequired:
          type: boolean
        level:
          $ref: '#/components/schemas/AttributeLevelEnum'
        name:
          type: string
        attributeConstraint:
          $ref: '#/components/schemas/AttributeConstraintEnum'
        inputHint:
          $ref: '#/components/schemas/TextInputHint'
        label:
          $ref: '#/components/schemas/LocalizedString'
        isSearchable:
          type: boolean
        type:
          $ref: '#/components/schemas/AttributeType'
        inputTip:
          $ref: '#/components/schemas/LocalizedString'
    LocalizedString:
      required:
      - /^[a-z]{2}(-[A-Z]{2})?$/
      type: object
      additionalProperties:
        type: string
    AttributePlainEnumValue:
      required:
      - key
      - label
      type: object
      properties:
        label:
          type: string
        key:
          type: string
    AttributeReferenceTypeId:
      type: string
      enum:
      - associate-role
      - business-unit
      - cart
      - cart-discount
      - category
      - channel
      - customer
      - customer-group
      - key-value-document
      - order
      - product
      - product-type
      - review
      - shipping-method
      - state
      - variant
      - zone
      x-annotation-package: ProductType
      x-annotation-enumDescriptions:
        associate-role: References a [AssociateRole](ctp:api:type:AssociateRole). Only available for [B2B](/offering/commerce-b2b)-enabled
          Projects.n
        business-unit: References a [BusinessUnit](ctp:api:type:BusinessUnit). Only available for [B2B](/offering/commerce-b2b)-enabled
          Projects.n
        cart: References a [Cart](ctp:api:type:Cart).n
        cart-discount: References a [CartDiscount](ctp:api:type:CartDiscount).n
        category: References a [Category](ctp:api:type:Category).n
        channel: References a [Channel](ctp:api:type:Channel).n
        customer: References a [Customer](ctp:api:type:Customer).n
        customer-group: References a [CustomerGroup](ctp:api:type:CustomerGroup).n
        key-value-document: References a [CustomObject](ctp:api:type:CustomObject).n
        order: References an [Order](ctp:api:type:Order).n
        product: References a [Product](ctp:api:type:Product).n
        product-type: References a [ProductType](ctp:api:type:ProductType).n
        review: References a [Review](ctp:api:type:Review).n
        shipping-method: References a [ShippingMethod](ctp:api:type:ShippingMethod).n
        state: References a [State](ctp:api:type:State).n
        variant: References a [Variant](ctp:api:type:Variant). Only available for Projects with `productCatalogModel`
          set to `Modular`.n
        zone: References a [Zone](ctp:api:type:Zone).n
    AttributionSource:
      type: string
      enum:
      - Import
      - Export
      x-annotation-package: Common
      x-annotation-enumDescriptions:
        Import: Resource was created or updated during import.
        Export: Resource was created or updated during export.
    CustomerGroupReference:
      allOf:
      - $ref: '#/components/schemas/Reference'
      - required:
        - id
        - typeId
        type: object
        properties:
          obj:
            $ref: '#/components/schemas/CustomerGroup'
          typeId:
            $ref: '#/components/schemas/ReferenceTypeId'
          id:
            type: string
    TypeReference:
      allOf:
      - $ref: '#/components/schemas/Reference'
      - required:
        - id
        - typeId
        type: object
        properties:
          obj:
            $ref: '#/components/schemas/Type'
          typeId:
            $ref: '#/components/schemas/ReferenceTypeId'
          id:
            type: string
    CountryCode:
      type: string
    FieldContainer:
      required:
      - /^[a-zA-Z0-9_-]{2,36}$/
      type: object
      additionalProperties:
        type: string
    TypeTextInputHint:
      type: string
      enum:
      - SingleLine
      - MultiLine
      x-annotation-package: Type
      x-annotation-enumDescriptions:
        SingleLine: Hint for GUIs to display the field's content in a single line of text.
        MultiLine: Hint for GUIs to display the field's content over multiple lines of text.
    ClientLogging:
      type: object
      properties:
        anonymousId:
          type: string
        clientId:
          type: string
        externalUserId:
          type: string
        associate:
          $ref: '#/components/schemas/CustomerReference'
        customer:
          $ref: '#/components/schemas/CustomerReference'
    Reference:
      required:
      - id
      - typeId
      type: object
      properties:
        typeId:
          $ref: '#/components/schemas/ReferenceTypeId'
        id:
          type: string
      discriminator:
        propertyName: typeId
        mapping:
          customer-group: '#/components/schemas/CustomerGroupReference'
          customer: '#/components/schemas/CustomerReference'
          product-type: '#/components/schemas/ProductTypeReference'
          type: '#/components/schemas/TypeReference'
    AttributeLevelEnum:
      type: string
      enum:
      - Product
      - Variant
      x-annotation-package: ProductType
      x-annotation-enumDescriptions:
        Product: Attribute is defined at Product level (**not supported** by [Product Projection Search](/projects/product-projection-search)).
        Variant: Attributes are defined at the Product Variant level.
    CustomFieldEnumValue:
      required:
      - key
      - label
      type: object
      properties:
        label:
          type: string
        key:
          type: string
    BaseResource:
      required:
      - createdAt
      - id
      - lastModifiedAt
      - version
      type: object
      properties:
        createdAt:
          type: string
          format: datetime
        lastModifiedAt:
          type: string
          format: datetime
        id:
          type: string
        version:
          type: integer
          format: int64
    ProductTypeUpdate:
      required:
      - actions
      - version
      type: object
      properties:
        version:
          type: integer
          format: int64
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ProductTypeUpdateAction'
    TypePagedQueryResponse:
      required:
      - count
      - limit
      - offset
      - results
      type: object
      properties:
        total:
          type: integer
          format: int64
        offset:
          type: integer
          format: int64
        limit:
          type: integer
          format: int64
        count:
          type: integer
          format: int64
        results:
          type: array
          items:
            $ref: '#/components/schemas/Type'
    ReferenceTypeId:
      type: string
      enum:
      - approval-flow
      - approval-rule
      - associate-role
      - attribute-group
      - business-unit
      - cart
      - cart-discount
      - category
      - channel
      - customer
      - customer-email-token
      - customer-group
      - customer-password-token
      - direct-discount
      - discount-code
      - discount-group
      - extension
      - inventory-entry
      - key-value-document
      - mcp-server
      - order
      - order-edit
      - payment-method
      - payment
      - product
      - product-discount
      - product-price
      - product-selection
      - product-tailoring
      - product-type
      - quote
      - quote-request
      - recurrence-policy
      - recurring-order
      - reservation
      - review
      - shipping-method
      - shopping-list
      - staged-quote
      - standalone-price
      - state
      - store
      - subscription
      - tax-category
      - type
      - variant
      - zone
      x-annotation-package: Common
      x-annotation-enumDescriptions:
        approval-flow: References an [ApprovalFlow](ctp:api:type:ApprovalFlow). Only available for [B2B](/offering/commerce-b2b)-enabled
          Projects.n
        approval-rule: References an [ApprovalRule](ctp:api:type:ApprovalRule). Only available for [B2B](/offering/commerce-b2b)-enabled
          Projects.n
        associate-role: References an [AssociateRole](ctp:api:type:AssociateRole). Only available for
          [B2B](/offering/commerce-b2b)-enabled Projects.n
        attribute-group: References an [AttributeGroup](ctp:api:type:AttributeGroup).n
        business-unit: References a [BusinessUnit](ctp:api:type:BusinessUnit). Only available for [B2B](/offering/commerce-b2b)-enabled
          Projects.n
        cart: References a [Cart](ctp:api:type:Cart).n
        cart-discount: References a [CartDiscount](ctp:api:type:CartDiscount).n
        category: References a [Category](ctp:api:type:Category).n
        channel: References a [Channel](ctp:api:type:Channel).n
        customer: References a [Customer](ctp:api:type:Customer).n
        customer-email-token: References a [CustomerToken](ctp:api:type:CustomerToken) for [email verification](/api/projects/customers#email-verification-of-customer).n
        customer-group: References a [CustomerGroup](ctp:api:type:CustomerGroup).n
        customer-password-token: References a [CustomerToken](ctp:api:type:CustomerToken) for [password
          reset](/api/projects/customers#password-reset-of-customer).n
        direct-discount: References a [DirectDiscount](ctp:api:type:DirectDiscount).n
        discount-code: References a [DiscountCode](ctp:api:type:DiscountCode).n
        discount-group: References a [DiscountGroup](ctp:api:type:DiscountGroup).n
        extension: References an [Extension](ctp:api:type:Extension).n
        inventory-entry: References an [InventoryEntry](ctp:api:type:InventoryEntry).n
        key-value-document: References a [CustomObject](ctp:api:type:CustomObject).n
        mcp-server: References an [McpServer](ctp:api:type:McpServer).n
        order: References an [Order](ctp:api:type:Order).n
        order-edit: References an [Order Edit](ctp:api:type:OrderEdit).n
        payment-method: References a [PaymentMethod](ctp:api:type:PaymentMethod).n
        payment: References a [Payment](ctp:api:type:Payment).n
        product: References a [Product](ctp:api:type:Product).n
        product-discount: References a [ProductDiscount](ctp:api:type:ProductDiscount).n
        product-price: References an [Embedded Price](ctp:api:type:Price).n
        product-selection: References a [ProductSelection](ctp:api:type:ProductSelection).n
        product-tailoring: References a [ProductTailoring](ctp:api:type:ProductTailoring).n
        product-type: References a [ProductType](ctp:api:type:ProductType).n
        quote: References a [Quote](ctp:api:type:Quote).n
        quote-request: References a [QuoteRequest](ctp:api:type:QuoteRequest).n
        recurring-order: References a [RecurringOrder](ctp:api:type:RecurringOrder).n
        recurrence-policy: References a [RecurrencePolicy](ctp:api:type:RecurrencePolicy).n
        reservation: References a [Reservation](ctp:api:type:Reservation).n
        review: References a [Review](ctp:api:type:Review).n
        shipping-method: References a [ShippingMethod](ctp:api:type:ShippingMethod).n
        shopping-list: References a [ShoppingList](ctp:api:type:ShoppingList).n
        staged-quote: References a [StagedQuote](ctp:api:type:StagedQuote).n
        standalone-price: References a [StandalonePrice](ctp:api:type:StandalonePrice).n
        state: References a [State](ctp:api:type:State).n
        store: References a [Store](ctp:api:type:Store).n
        subscription: References a [Subscription](ctp:api:type:Subscription).n
        tax-category: References a [TaxCategory](ctp:api:type:TaxCategory).n
        type: References a [Type](ctp:api:type:Type).n
        variant: References a [Variant](ctp:api:type:Variant).n
        zone: References a [Zone](ctp:api:type:Zone).n
    TypeUpdate:
      required:
      - actions
      - version
      type: object
      properties:
        version:
          type: integer
          format: int64
        actions:
          type: array
          items:
            $ref: '#/components/schemas/TypeUpdateAction'
    BaseAddress:
      required:
      - country
      type: object
      properties:
        country:
          $ref: '#/components/schemas/CountryCode'
        lastName:
          type: string
        city:
          type: string
        postalCode:
          type: string
        title:
          type: string
        building:
          type: string
        streetName:
          type: string
        company:
          type: string
        id:
          type: string
        state:
          type: string
        department:
          type: string
        fax:
          type: string
        key:
          type: string
        email:
          type: string
        pOBox:
          type: string
        streetNumber:
          type: string
        mobile:
          type: string
        externalId:
          type: string
        additionalAddressInfo:
          type: string
        firstName:
          type: string
        phone:
          type: string
        additionalStreetInfo:
          type: string
        salutation:
          type: string
        region:
          type: string
        apartment:
          type: string
    ErrorResponse:
      required:
      - message
      - statusCode
      type: object
      properties:
        message:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorObject'
        statusCode:
          type: integer
          format: int32
    FieldType:
      required:
      - name
      type: object
      properties:
        name:
          type: string
    Type:
      allOf:
      - $ref: '#/components/schemas/BaseResource'
      - required:
        - createdAt
        - fieldDefinitions
        - id
        - key
        - lastModifiedAt
        - name
        - resourceTypeIds
        - version
        type: object
        properties:
          createdAt:
            type: string
            format: datetime
          lastModifiedAt:
            type: string
            format: datetime
          createdBy:
            $ref: '#/components/schemas/CreatedBy'
          lastModifiedBy:
            $ref: '#/components/schemas/LastModifiedBy'
          name:
            $ref: '#/components/schemas/LocalizedString'
          description:
            $ref: '#/components/schemas/LocalizedString'
          fieldDefinitions:
            type: array
            items:
              $ref: '#/components/schemas/FieldDefinition'
          id:
            type: string
          version:
            type: integer
            format: int64
          key:
            type: string
          resourceTypeIds:
            type: array
            items:
              $ref: '#/components/schemas/ResourceTypeId'
    ProductTypeReference:
      allOf:
      - $ref: '#/components/schemas/Reference'
      - required:
        - id
        - typeId
        type: object
        properties:
          obj:
            $ref: '#/components/schemas/ProductType'
          typeId:
            $ref: '#/components/schemas/ReferenceTypeId'
          id:
            type: string
  responses:
    errorable_400:
      description: "## Bad Request\n\nA 400 is the most commonly expected error response and indicates\
        \ that a request failed due to providing bad input.\nBad input can be a malformed request body,\
        \ missing required parameters, wrongly typed or malformed parameters or\na parameter that references\
        \ another resource that does not exist. Clients need to resolve the problems mentioned\nin the\
        \ response before re-sending the request.\n\nThe following general error codes can appear in responses\
        \ with the HTTP status code `400`:\n\n* `InvalidInput`\n  Invalid input has been sent to the service.\n\
        \  The client application should validate the input according to the constraints described in\
        \ the error message\n  before sending the request.\n\n* `InvalidOperation`\n  The resource(s)\
        \ involved in the request are not in a valid state for the operation. The client application\n\
        \  should validate the constraints described in the error message before sending the request.\n\
        \n* `InvalidField`\n  A field has an invalid value.\n  Extra fields:\n  * `field` - String\n \
        \   The name of the field.\n  * `invalidValue` - *\n    The invalid value.\n  * `allowedValues`\
        \ - Array of * - Optional\n    A fixed set of allowed values for the field, if any.\n\n* `RequiredField`\n\
        \  A required field is missing a value.\n  Extra fields:\n  * `field` - String\n    The name of\
        \ the field.\n\n* `DuplicateField`\n  A value for a field conflicts with an existing duplicate\
        \ value.\n  Extra fields:\n  * `field` - String\n    The name of the field.\n  * `duplicateValue`\
        \ - *\n    The offending duplicate value."
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    errorable_401:
      description: '## Unauthorized


        A 401 indicates that the request is not properly authenticated.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    errorable_403:
      description: '## Forbidden


        A 403 indicates that the authenticated client is not allowed to perform the request.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    errorable_404:
      description: "## Not Found\n\nA 404 indicates that the addressed resource was not found / does not\
        \ exist.\n\nThe following general error codes can appear in responses with the HTTP status code\
        \ `404`:\n\n* `ResourceNotFound`\n  The resource addressed by the request URL does not exist."
      content: {}
    errorable_500:
      description: "## Internal Server Error\n\nA 500 indicates that a request failed due to a server-side\
        \ problem that needs to be resolved before subsequent\nrequests can succeed. It either indicates\
        \ a temporary unavailability or permanent server-side problem that needs\nto be reported and resolved.\n\
        \nThe following general error codes can appear in responses with the HTTP status code `500`:\n\
        \n* `General`\n  A server-side problem occurred that is not further specified.\n  These errors\
        \ [should be reported](https://support.commercetools.com/)."
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    errorable_502:
      description: 'A 502 indicates that a request failed due to a server-side problem caused by scaling
        infrastructure resources.

        The client application should retry the request with exponential backoff up to a point where further
        delay is unacceptable.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    errorable_503:
      description: "## Service Unavailable\n\nThe following general error codes can appear in responses\
        \ with the HTTP status code `503`:\n\n* `OverCapacity`\n  The service is having trouble handling\
        \ the load. The client application should retry the request with\n  exponential backoff up to\
        \ a point where further delay is unacceptable.\n\n* `PendingOperation`\n  A previous conflicting\
        \ operation is still pending and needs to finish before the request can succeed.\n  The client\
        \ application should retry the request with exponential backoff up to a point where further delay\n\
        \  is unacceptable. If these errors persist, [should be reported](https://support.commercetools.com/)."
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    conflicting_409:
      description: "## Conflict\n\nA 409 indicates that the current version of the resource targeted by\
        \ the request (with the intention to modify or delete it) is different from that provided in the\
        \ request.\nIn response to this, the client will usually want to request the newest version of\
        \ the resource to see what has been changed and decide what changes to apply to the newest version.\n\
        \nA 409 Conflict indicates a concurrent modification and usually occurs on a versioned resource,\
        \ which requires the client to provide the version of the resource to perform a change.\n\nThe\
        \ following general error codes can appear in responses with the HTTP status code `409`:\n\n*\
        \ `ConcurrentModification`\n  The request conflicts with the current state of the involved resource(s).\n\
        \  Typically, the request attempts to modify a resource that is out of date,\n  i.e. that has\
        \ been modified by another client since the last time it was retrieved.\n  The client application\
        \ should resolve the conflict (with or without involving the end user)\n  before retrying the\
        \ request."
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    oauth_2_0:
      type: oauth2
      description: 'HTTP API authorization uses [OAuth2](https://datatracker.ietf.org/doc/html/rfc6750).


        Clients must obtain an access token from the auth service using one of

        the authorization flows described below, before they are able to make authorized requests

        to other Composable Commerce APIs. On successful completion of an authorization flow,

        a client will be given an `access_token`, which they need to include in requests

        to authorized service endpoints via the HTTP `Authorization` header like this:

        '
      flows:
        clientCredentials:
          tokenUrl: https://auth.us-central1.gcp.commercetools.com/oauth/token
          scopes:
            view_api_clients:{projectKey}: ''
            manage_api_clients:{projectKey}: ''
            view_approval_flows:{projectKey}: ''
            manage_approval_flows:{projectKey}: ''
            view_approval_rules:{projectKey}: ''
            manage_approval_rules:{projectKey}: ''
            view_associate_roles:{projectKey}: ''
            manage_associate_roles:{projectKey}: ''
            view_attribute_groups:{projectKey}: ''
            manage_attribute_groups:{projectKey}: ''
            view_audit_log:{projectKey}: ''
            view_business_units:{projectKey}: ''
            manage_business_units:{projectKey}: ''
            view_business_units:{projectKey}:{storeKey}: ''
            manage_business_units:{projectKey}:{storeKey}: ''
            manage_my_business_units:{projectKey}: ''
            view_cart_discounts:{projectKey}: ''
            manage_cart_discounts:{projectKey}: ''
            view_cart_discounts:{projectKey}:{storeKey}: ''
            manage_cart_discounts:{projectKey}:{storeKey}: ''
            view_categories:{projectKey}: ''
            manage_categories:{projectKey}: ''
            view_channels:{projectKey}: ''
            manage_channels:{projectKey}: ''
            view_customer_groups:{projectKey}: ''
            manage_customer_groups:{projectKey}: ''
            view_customers:{projectKey}: ''
            manage_customers:{projectKey}: ''
            view_customers:{projectKey}:{storeKey}: ''
            manage_customers:{projectKey}:{storeKey}: ''
            manage_my_profile:{projectKey}: ''
            manage_my_profile:{projectKey}:{storeKey}: ''
            view_discount_codes:{projectKey}: ''
            manage_discount_codes:{projectKey}: ''
            manage_extensions:{projectKey}: ''
            manage_intake_agent:{projectKey}: ''
            view_mcp_servers:{projectKey}: ''
            manage_mcp_servers:{projectKey}: ''
            view_key_value_documents:{projectKey}: ''
            manage_key_value_documents:{projectKey}: ''
            view_messages:{projectKey}: ''
            view_orders:{projectKey}: ''
            manage_orders:{projectKey}: ''
            view_orders:{projectKey}:{storeKey}: ''
            manage_orders:{projectKey}:{storeKey}: ''
            manage_my_orders:{projectKey}: ''
            manage_my_orders:{projectKey}:{storeKey}: ''
            manage_locked_carts:{projectKey}: ''
            view_order_edits:{projectKey}: ''
            manage_order_edits:{projectKey}: ''
            view_payment_methods:{projectKey}: ''
            manage_payment_methods:{projectKey}: ''
            view_payments:{projectKey}: ''
            manage_payments:{projectKey}: ''
            manage_my_payments:{projectKey}: ''
            view_product_discounts:{projectKey}: ''
            manage_product_discounts:{projectKey}: ''
            view_products:{projectKey}: ''
            manage_products:{projectKey}: ''
            view_published_products:{projectKey}: ''
            view_product_selections:{projectKey}: ''
            manage_product_selections:{projectKey}: ''
            view_product_types:{projectKey}: ''
            manage_product_types:{projectKey}: ''
            manage_project:{projectKey}: ''
            view_project_settings:{projectKey}: ''
            manage_project_settings:{projectKey}: ''
            view_quote_requests:{projectKey}: ''
            manage_quote_requests:{projectKey}: ''
            view_quote_requests:{projectKey}:{storeKey}: ''
            manage_quote_requests:{projectKey}:{storeKey}: ''
            manage_my_quote_requests:{projectKey}: ''
            view_quotes:{projectKey}: ''
            manage_quotes:{projectKey}: ''
            view_quotes:{projectKey}:{storeKey}: ''
            manage_quotes:{projectKey}:{storeKey}: ''
            manage_my_quotes:{projectKey}: ''
            view_recurring_orders:{projectKey}: ''
            manage_recurring_orders:{projectKey}: ''
            view_recurrence_policies:{projectKey}: ''
            manage_recurrence_policies:{projectKey}: ''
            view_shipping_methods:{projectKey}: ''
            manage_shipping_methods:{projectKey}: ''
            view_shopping_lists:{projectKey}: ''
            manage_shopping_lists:{projectKey}: ''
            view_shopping_lists:{projectKey}:{storeKey}: ''
            manage_shopping_lists:{projectKey}:{storeKey}: ''
            manage_my_shopping_lists:{projectKey}: ''
            manage_my_shopping_lists:{projectKey}:{storeKey}: ''
            view_staged_quotes:{projectKey}: ''
            manage_staged_quotes:{projectKey}: ''
            view_staged_quotes:{projectKey}:{storeKey}: ''
            manage_staged_quotes:{projectKey}:{storeKey}: ''
            view_standalone_prices:{projectKey}: ''
            manage_standalone_prices:{projectKey}: ''
            view_states:{projectKey}: ''
            manage_states:{projectKey}: ''
            view_stores:{projectKey}: ''
            manage_stores:{projectKey}: ''
            manage_subscriptions:{projectKey}: ''
            view_tax_categories:{projectKey}: ''
            manage_tax_categories:{projectKey}: ''
            view_types:{projectKey}: ''
            manage_types:{projectKey}: ''
            view_zones:{projectKey}: ''
            manage_zones:{projectKey}: ''
            anonymous_id:{id}: ''
            create_anonymous_token:{projectKey}: ''
            customer_id:{id}: ''
            external_user_id:{externalUserId}: ''
            introspect_oauth_tokens:{projectKey}: ''
