openapi: 3.0.0
info:
  title: commercetools Composable Commerce API
  version: v1
servers:
- url: https://api.us-central1.gcp.commercetools.com
paths:
  /{projectKey}/custom-objects:
    description: Store custom JSON values.
    parameters:
    - name: projectKey
      description: "The `key` of the Project."
      in: path
      required: true
      schema:
        type: string
    get:
      security:
      - oauth_2_0:
        - view_products:{projectKey}
        - view_orders:{projectKey}
        - view_customers:{projectKey}
        - view_key_value_documents:{projectKey}
      operationId: ByProjectKeyCustomObjectsGet
      summary: Query custom objects
      description: |-
        For performance reasons, it is highly advisable to query for Custom Objects in a container by using the `container` field in the `where` predicate.

        This endpoint is deprecated and replaced by the [Query CustomObjects in Container](ctp:api:endpoint:/{projectKey}/custom-objects/{container}:GET) endpoint.
      parameters:
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: sort
        description: "Sort expression; can be repeated to sort by several fields, for example `createdAt desc`."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: limit
        description: "Number of results to return per page. Defaults to 20, maximum 500."
        x-annotation-default: 20
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: offset
        description: "Number of results to skip, used for pagination. Defaults to 0, maximum 10000."
        x-annotation-default: 0
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: withTotal
        description: "If false, the total count is not calculated, which improves performance of paged queries. Defaults to true."
        x-annotation-default: true
        in: query
        required: false
        style: form
        schema:
          type: boolean
        explode: true
      - name: where
        description: "Query predicate to filter the results."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      x-markDeprecated: true
      responses:
        '200':
          description: A paged list of custom objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectPagedQueryResponse'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_products:{projectKey}
        - manage_orders:{projectKey}
        - manage_customers:{projectKey}
        - manage_key_value_documents:{projectKey}
      operationId: ByProjectKeyCustomObjectsPost
      summary: Create or update a custom object
      description: |-
        If an object with the given container/key exists, the object will be replaced with the new value and the version is incremented.
        If the request contains a version and an object with the given container/key, then the version must match the version of the existing object. Concurrent updates to the same Custom Object returns a [ConcurrentModification](ctp:api:type:ConcurrentModificationError) error even if the version is not provided.

        Fields within `value` that have `null` values **are not saved**.
      parameters:
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomObjectDraft'
        description: Custom object draft with container, key, value and optional version
      responses:
        '200':
          description: The updated custom object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObject'
        '201':
          description: The created custom object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObject'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/custom-objects/{container}:
    parameters:
    - name: projectKey
      description: "The `key` of the Project."
      in: path
      required: true
      schema:
        type: string
    - name: container
      description: "The container of the Custom Objects."
      in: path
      required: true
      schema:
        type: string
    x-annotation-methodName: withContainer
    get:
      security:
      - oauth_2_0:
        - view_products:{projectKey}
        - view_orders:{projectKey}
        - view_customers:{projectKey}
        - view_key_value_documents:{projectKey}
      operationId: ByProjectKeyCustomObjectsByContainerGet
      summary: Query custom objects in a container
      parameters:
      - name: sort
        description: "Sort expression; can be repeated to sort by several fields, for example `createdAt desc`."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: where
        description: "Query predicate to filter the results."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: limit
        description: "Number of results to return per page. Defaults to 20, maximum 500."
        x-annotation-default: 20
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: offset
        description: "Number of results to skip, used for pagination. Defaults to 0, maximum 10000."
        x-annotation-default: 0
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: withTotal
        description: "If false, the total count is not calculated, which improves performance of paged queries. Defaults to true."
        x-annotation-default: true
        in: query
        required: false
        style: form
        schema:
          type: boolean
        explode: true
      responses:
        '200':
          description: A paged list of custom objects in the container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectPagedQueryResponse'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/custom-objects/{container}/{key}:
    parameters:
    - name: projectKey
      description: "The `key` of the Project."
      in: path
      required: true
      schema:
        type: string
    - name: container
      description: "The container of the Custom Objects."
      in: path
      required: true
      schema:
        type: string
    - name: key
      description: "User-defined unique identifier of the resource (or of the Custom Object within its container)."
      in: path
      required: true
      schema:
        type: string
    x-annotation-methodName: withContainerAndKey
    get:
      security:
      - oauth_2_0:
        - view_products:{projectKey}
        - view_orders:{projectKey}
        - view_customers:{projectKey}
        - view_key_value_documents:{projectKey}
      operationId: ByProjectKeyCustomObjectsByContainerByKeyGet
      summary: Get a custom object by container and key
      parameters:
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The requested custom object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObject'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    delete:
      security:
      - oauth_2_0:
        - manage_products:{projectKey}
        - manage_orders:{projectKey}
        - manage_customers:{projectKey}
        - manage_key_value_documents:{projectKey}
      operationId: ByProjectKeyCustomObjectsByContainerByKeyDelete
      summary: Delete a custom object by container and key
      parameters:
      - name: version
        description: "Expected current version of the resource; the request fails with a concurrency error if it does not match."
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: dataErasure
        description: "If true, personal data related to the resource is erased from all related resources and logs (GDPR). Defaults to false."
        x-annotation-default: false
        in: query
        required: false
        style: form
        schema:
          type: boolean
        explode: true
      responses:
        '200':
          description: The deleted custom object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObject'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/product-types:
    description: |-
      Product Types are used to describe common characteristics, most importantly common custom attributes,
      of many concrete products.
    parameters:
    - name: projectKey
      description: "The `key` of the Project."
      in: path
      required: true
      schema:
        type: string
    x-annotation-updateable: ProductType
    x-annotation-deleteable: ProductType
    x-annotation-createable: ProductTypeDraft
    get:
      security:
      - oauth_2_0:
        - view_product_types:{projectKey}
        - view_products:{projectKey}
      operationId: ByProjectKeyProductTypesGet
      summary: Query product types
      parameters:
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: sort
        description: "Sort expression; can be repeated to sort by several fields, for example `createdAt desc`."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: limit
        description: "Number of results to return per page. Defaults to 20, maximum 500."
        x-annotation-default: 20
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: offset
        description: "Number of results to skip, used for pagination. Defaults to 0, maximum 10000."
        x-annotation-default: 0
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: withTotal
        description: "If false, the total count is not calculated, which improves performance of paged queries. Defaults to true."
        x-annotation-default: true
        in: query
        required: false
        style: form
        schema:
          type: boolean
        explode: true
      - name: where
        description: "Query predicate to filter the results."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: A paged list of product types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductTypePagedQueryResponse'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_product_types:{projectKey}
        - manage_products:{projectKey}
      operationId: ByProjectKeyProductTypesPost
      summary: Create a product type
      parameters:
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductTypeDraft'
        description: Product type draft with key, name, description and attribute definitions
      responses:
        '201':
          description: The created product type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductType'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/product-types/key={key}:
    parameters:
    - name: projectKey
      description: "The `key` of the Project."
      in: path
      required: true
      schema:
        type: string
    - name: key
      description: "User-defined unique identifier of the resource (or of the Custom Object within its container)."
      in: path
      required: true
      schema:
        type: string
    x-annotation-methodName: withKey
    get:
      security:
      - oauth_2_0:
        - view_product_types:{projectKey}
        - view_products:{projectKey}
      operationId: ByProjectKeyProductTypesKeyByKeyGet
      summary: Get a product type by key
      parameters:
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The requested product type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductType'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_product_types:{projectKey}
        - manage_products:{projectKey}
      operationId: ByProjectKeyProductTypesKeyByKeyPost
      summary: Update a product type by key
      parameters:
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductTypeUpdate'
        description: Version and update actions to apply to the product type identified by key
      responses:
        '200':
          description: The updated product type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductType'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    delete:
      security:
      - oauth_2_0:
        - manage_product_types:{projectKey}
        - manage_products:{projectKey}
      operationId: ByProjectKeyProductTypesKeyByKeyDelete
      summary: Delete a product type by key
      parameters:
      - name: version
        description: "Expected current version of the resource; the request fails with a concurrency error if it does not match."
        in: query
        required: true
        style: form
        schema:
          type: integer
        explode: true
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The deleted product type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductType'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/product-types/{id}:
    parameters:
    - name: projectKey
      description: "The `key` of the Project."
      in: path
      required: true
      schema:
        type: string
    - name: id
      description: "System-generated unique identifier of the resource."
      in: path
      required: true
      schema:
        type: string
    x-annotation-methodName: withId
    get:
      security:
      - oauth_2_0:
        - view_product_types:{projectKey}
        - view_products:{projectKey}
      operationId: ByProjectKeyProductTypesByIDGet
      summary: Get a product type by ID
      parameters:
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The requested product type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductType'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_product_types:{projectKey}
        - manage_products:{projectKey}
      operationId: ByProjectKeyProductTypesByIDPost
      summary: Update a product type by ID
      parameters:
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductTypeUpdate'
        description: Version and update actions to apply to the product type identified by ID
      responses:
        '200':
          description: The updated product type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductType'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    delete:
      security:
      - oauth_2_0:
        - manage_product_types:{projectKey}
        - manage_products:{projectKey}
      operationId: ByProjectKeyProductTypesByIDDelete
      summary: Delete a product type by ID
      parameters:
      - name: version
        description: "Expected current version of the resource; the request fails with a concurrency error if it does not match."
        in: query
        required: true
        style: form
        schema:
          type: integer
        explode: true
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The deleted product type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductType'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/types:
    description: Types define custom fields that are used to enhance resources as you need.
    parameters:
    - name: projectKey
      description: "The `key` of the Project."
      in: path
      required: true
      schema:
        type: string
    x-annotation-updateable: Type
    x-annotation-deleteable: Type
    x-annotation-createable: TypeDraft
    get:
      security:
      - oauth_2_0:
        - view_types:{projectKey}
      operationId: ByProjectKeyTypesGet
      summary: Query types
      parameters:
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: sort
        description: "Sort expression; can be repeated to sort by several fields, for example `createdAt desc`."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: limit
        description: "Number of results to return per page. Defaults to 20, maximum 500."
        x-annotation-default: 20
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: offset
        description: "Number of results to skip, used for pagination. Defaults to 0, maximum 10000."
        x-annotation-default: 0
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: withTotal
        description: "If false, the total count is not calculated, which improves performance of paged queries. Defaults to true."
        x-annotation-default: true
        in: query
        required: false
        style: form
        schema:
          type: boolean
        explode: true
      - name: where
        description: "Query predicate to filter the results."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: A paged list of types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypePagedQueryResponse'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_types:{projectKey}
      operationId: ByProjectKeyTypesPost
      summary: Create a type
      parameters:
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TypeDraft'
        description: Type draft with key, name, resource type IDs and field definitions
      responses:
        '201':
          description: The created type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/types/key={key}:
    parameters:
    - name: projectKey
      description: "The `key` of the Project."
      in: path
      required: true
      schema:
        type: string
    - name: key
      description: "User-defined unique identifier of the resource (or of the Custom Object within its container)."
      in: path
      required: true
      schema:
        type: string
    x-annotation-methodName: withKey
    get:
      security:
      - oauth_2_0:
        - view_types:{projectKey}
      operationId: ByProjectKeyTypesKeyByKeyGet
      summary: Get a type by key
      parameters:
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The requested type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_types:{projectKey}
      operationId: ByProjectKeyTypesKeyByKeyPost
      summary: Update a type by key
      parameters:
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TypeUpdate'
        description: Version and update actions to apply to the type identified by key
      responses:
        '200':
          description: The updated type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    delete:
      security:
      - oauth_2_0:
        - manage_types:{projectKey}
      operationId: ByProjectKeyTypesKeyByKeyDelete
      summary: Delete a type by key
      parameters:
      - name: version
        description: "Expected current version of the resource; the request fails with a concurrency error if it does not match."
        in: query
        required: true
        style: form
        schema:
          type: integer
        explode: true
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The deleted type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/types/{id}:
    parameters:
    - name: projectKey
      description: "The `key` of the Project."
      in: path
      required: true
      schema:
        type: string
    - name: id
      description: "System-generated unique identifier of the resource."
      in: path
      required: true
      schema:
        type: string
    x-annotation-methodName: withId
    get:
      security:
      - oauth_2_0:
        - view_types:{projectKey}
      operationId: ByProjectKeyTypesByIDGet
      summary: Get a type by ID
      parameters:
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The requested type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_types:{projectKey}
      operationId: ByProjectKeyTypesByIDPost
      summary: Update a type by ID
      parameters:
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TypeUpdate'
        description: Version and update actions to apply to the type identified by ID
      responses:
        '200':
          description: The updated type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    delete:
      security:
      - oauth_2_0:
        - manage_types:{projectKey}
      operationId: ByProjectKeyTypesByIDDelete
      summary: Delete a type by ID
      parameters:
      - name: version
        description: "Expected current version of the resource; the request fails with a concurrency error if it does not match."
        in: query
        required: true
        style: form
        schema:
          type: integer
        explode: true
      - name: expand
        description: "A field to expand. Reference fields can be expanded to include the referenced resource inline."
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The deleted type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
components:
  securitySchemes:
    oauth_2_0:
      type: oauth2
      description: |
        HTTP API authorization uses [OAuth2](https://datatracker.ietf.org/doc/html/rfc6750).

        Clients must obtain an access token from the auth service using one of
        the authorization flows described below, before they are able to make authorized requests
        to other Composable Commerce APIs. On successful completion of an authorization flow,
        a client will be given an `access_token`, which they need to include in requests
        to authorized service endpoints via the HTTP `Authorization` header like this:
      flows:
        clientCredentials:
          tokenUrl: https://auth.us-central1.gcp.commercetools.com/oauth/token
          scopes:
            view_api_clients:{projectKey}: ''
            manage_api_clients:{projectKey}: ''
            view_approval_flows:{projectKey}: ''
            manage_approval_flows:{projectKey}: ''
            view_approval_rules:{projectKey}: ''
            manage_approval_rules:{projectKey}: ''
            view_associate_roles:{projectKey}: ''
            manage_associate_roles:{projectKey}: ''
            view_attribute_groups:{projectKey}: ''
            manage_attribute_groups:{projectKey}: ''
            view_audit_log:{projectKey}: ''
            view_business_units:{projectKey}: ''
            manage_business_units:{projectKey}: ''
            view_business_units:{projectKey}:{storeKey}: ''
            manage_business_units:{projectKey}:{storeKey}: ''
            manage_my_business_units:{projectKey}: ''
            view_cart_discounts:{projectKey}: ''
            manage_cart_discounts:{projectKey}: ''
            view_cart_discounts:{projectKey}:{storeKey}: ''
            manage_cart_discounts:{projectKey}:{storeKey}: ''
            view_categories:{projectKey}: ''
            manage_categories:{projectKey}: ''
            view_channels:{projectKey}: ''
            manage_channels:{projectKey}: ''
            view_customer_groups:{projectKey}: ''
            manage_customer_groups:{projectKey}: ''
            view_customers:{projectKey}: ''
            manage_customers:{projectKey}: ''
            view_customers:{projectKey}:{storeKey}: ''
            manage_customers:{projectKey}:{storeKey}: ''
            manage_my_profile:{projectKey}: ''
            manage_my_profile:{projectKey}:{storeKey}: ''
            view_discount_codes:{projectKey}: ''
            manage_discount_codes:{projectKey}: ''
            manage_extensions:{projectKey}: ''
            manage_intake_agent:{projectKey}: ''
            view_mcp_servers:{projectKey}: ''
            manage_mcp_servers:{projectKey}: ''
            view_key_value_documents:{projectKey}: ''
            manage_key_value_documents:{projectKey}: ''
            view_messages:{projectKey}: ''
            view_orders:{projectKey}: ''
            manage_orders:{projectKey}: ''
            view_orders:{projectKey}:{storeKey}: ''
            manage_orders:{projectKey}:{storeKey}: ''
            manage_my_orders:{projectKey}: ''
            manage_my_orders:{projectKey}:{storeKey}: ''
            manage_locked_carts:{projectKey}: ''
            view_order_edits:{projectKey}: ''
            manage_order_edits:{projectKey}: ''
            view_payment_methods:{projectKey}: ''
            manage_payment_methods:{projectKey}: ''
            view_payments:{projectKey}: ''
            manage_payments:{projectKey}: ''
            manage_my_payments:{projectKey}: ''
            view_product_discounts:{projectKey}: ''
            manage_product_discounts:{projectKey}: ''
            view_products:{projectKey}: ''
            manage_products:{projectKey}: ''
            view_published_products:{projectKey}: ''
            view_product_selections:{projectKey}: ''
            manage_product_selections:{projectKey}: ''
            view_product_types:{projectKey}: ''
            manage_product_types:{projectKey}: ''
            manage_project:{projectKey}: ''
            view_project_settings:{projectKey}: ''
            manage_project_settings:{projectKey}: ''
            view_quote_requests:{projectKey}: ''
            manage_quote_requests:{projectKey}: ''
            view_quote_requests:{projectKey}:{storeKey}: ''
            manage_quote_requests:{projectKey}:{storeKey}: ''
            manage_my_quote_requests:{projectKey}: ''
            view_quotes:{projectKey}: ''
            manage_quotes:{projectKey}: ''
            view_quotes:{projectKey}:{storeKey}: ''
            manage_quotes:{projectKey}:{storeKey}: ''
            manage_my_quotes:{projectKey}: ''
            view_recurring_orders:{projectKey}: ''
            manage_recurring_orders:{projectKey}: ''
            view_recurrence_policies:{projectKey}: ''
            manage_recurrence_policies:{projectKey}: ''
            view_shipping_methods:{projectKey}: ''
            manage_shipping_methods:{projectKey}: ''
            view_shopping_lists:{projectKey}: ''
            manage_shopping_lists:{projectKey}: ''
            view_shopping_lists:{projectKey}:{storeKey}: ''
            manage_shopping_lists:{projectKey}:{storeKey}: ''
            manage_my_shopping_lists:{projectKey}: ''
            manage_my_shopping_lists:{projectKey}:{storeKey}: ''
            view_staged_quotes:{projectKey}: ''
            manage_staged_quotes:{projectKey}: ''
            view_staged_quotes:{projectKey}:{storeKey}: ''
            manage_staged_quotes:{projectKey}:{storeKey}: ''
            view_standalone_prices:{projectKey}: ''
            manage_standalone_prices:{projectKey}: ''
            view_states:{projectKey}: ''
            manage_states:{projectKey}: ''
            view_stores:{projectKey}: ''
            manage_stores:{projectKey}: ''
            manage_subscriptions:{projectKey}: ''
            view_tax_categories:{projectKey}: ''
            manage_tax_categories:{projectKey}: ''
            view_types:{projectKey}: ''
            manage_types:{projectKey}: ''
            view_zones:{projectKey}: ''
            manage_zones:{projectKey}: ''
            anonymous_id:{id}: ''
            create_anonymous_token:{projectKey}: ''
            customer_id:{id}: ''
            external_user_id:{externalUserId}: ''
            introspect_oauth_tokens:{projectKey}: ''
  schemas:
    Address:
      allOf:
      - $ref: '#/components/schemas/BaseAddress'
      - type: object
        properties:
          id:
            type: string
          key:
            type: string
          country:
            $ref: '#/components/schemas/CountryCode'
          title:
            type: string
          salutation:
            type: string
          firstName:
            type: string
          lastName:
            type: string
          streetName:
            type: string
          streetNumber:
            type: string
          additionalStreetInfo:
            type: string
          postalCode:
            type: string
          city:
            type: string
          region:
            type: string
          state:
            type: string
          company:
            type: string
          department:
            type: string
          building:
            type: string
          apartment:
            type: string
          pOBox:
            type: string
          phone:
            type: string
          mobile:
            type: string
          email:
            type: string
          fax:
            type: string
          additionalAddressInfo:
            type: string
          externalId:
            type: string
          custom:
            $ref: '#/components/schemas/CustomFields'
    Attribution:
      type: object
      required:
      - source
      properties:
        clientId:
          type: string
        source:
          $ref: '#/components/schemas/AttributionSource'
    AttributionSource:
      type: string
      enum:
      - Import
      - Export
      x-annotation-package: Common
      x-annotation-enumDescriptions:
        Import: Resource was created or updated during import.
        Export: Resource was created or updated during export.
    BaseAddress:
      type: object
      required:
      - country
      properties:
        id:
          type: string
        key:
          type: string
        country:
          $ref: '#/components/schemas/CountryCode'
        title:
          type: string
        salutation:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        streetName:
          type: string
        streetNumber:
          type: string
        additionalStreetInfo:
          type: string
        postalCode:
          type: string
        city:
          type: string
        region:
          type: string
        state:
          type: string
        company:
          type: string
        department:
          type: string
        building:
          type: string
        apartment:
          type: string
        pOBox:
          type: string
        phone:
          type: string
        mobile:
          type: string
        email:
          type: string
        fax:
          type: string
        additionalAddressInfo:
          type: string
        externalId:
          type: string
    BaseResource:
      type: object
      required:
      - createdAt
      - id
      - lastModifiedAt
      - version
      properties:
        id:
          type: string
        version:
          type: integer
          format: int64
        createdAt:
          type: string
          format: datetime
        lastModifiedAt:
          type: string
          format: datetime
    ClientLogging:
      type: object
      properties:
        clientId:
          type: string
        externalUserId:
          type: string
        customer:
          $ref: '#/components/schemas/CustomerReference'
        anonymousId:
          type: string
        associate:
          $ref: '#/components/schemas/CustomerReference'
    CountryCode:
      type: string
    CreatedBy:
      allOf:
      - $ref: '#/components/schemas/ClientLogging'
      - type: object
        properties:
          clientId:
            type: string
          externalUserId:
            type: string
          customer:
            $ref: '#/components/schemas/CustomerReference'
          anonymousId:
            type: string
          associate:
            $ref: '#/components/schemas/CustomerReference'
          attributedTo:
            $ref: '#/components/schemas/Attribution'
    KeyReference:
      type: object
      discriminator:
        propertyName: typeId
        mapping:
          store: '#/components/schemas/StoreKeyReference'
      required:
      - key
      - typeId
      properties:
        typeId:
          $ref: '#/components/schemas/ReferenceTypeId'
        key:
          type: string
    LastModifiedBy:
      allOf:
      - $ref: '#/components/schemas/ClientLogging'
      - type: object
        properties:
          clientId:
            type: string
          externalUserId:
            type: string
          customer:
            $ref: '#/components/schemas/CustomerReference'
          anonymousId:
            type: string
          associate:
            $ref: '#/components/schemas/CustomerReference'
          attributedTo:
            $ref: '#/components/schemas/Attribution'
    Locale:
      type: string
    LocalizedString:
      type: object
      required:
      - /^[a-z]{2}(-[A-Z]{2})?$/
      additionalProperties:
        type: string
    Reference:
      type: object
      discriminator:
        propertyName: typeId
        mapping:
          customer-group: '#/components/schemas/CustomerGroupReference'
          customer: '#/components/schemas/CustomerReference'
          product-type: '#/components/schemas/ProductTypeReference'
          type: '#/components/schemas/TypeReference'
      required:
      - id
      - typeId
      properties:
        typeId:
          $ref: '#/components/schemas/ReferenceTypeId'
        id:
          type: string
    ReferenceTypeId:
      type: string
      enum:
      - approval-flow
      - approval-rule
      - associate-role
      - attribute-group
      - business-unit
      - cart
      - cart-discount
      - category
      - channel
      - customer
      - customer-email-token
      - customer-group
      - customer-password-token
      - direct-discount
      - discount-code
      - discount-group
      - extension
      - inventory-entry
      - key-value-document
      - mcp-server
      - order
      - order-edit
      - payment-method
      - payment
      - product
      - product-discount
      - product-price
      - product-selection
      - product-tailoring
      - product-type
      - quote
      - quote-request
      - recurrence-policy
      - recurring-order
      - reservation
      - review
      - shipping-method
      - shopping-list
      - staged-quote
      - standalone-price
      - state
      - store
      - subscription
      - tax-category
      - type
      - variant
      - zone
      x-annotation-package: Common
      x-annotation-enumDescriptions:
        approval-flow: References an [ApprovalFlow](ctp:api:type:ApprovalFlow). Only available for [B2B](/offering/commerce-b2b)-enabled Projects.n
        approval-rule: References an [ApprovalRule](ctp:api:type:ApprovalRule). Only available for [B2B](/offering/commerce-b2b)-enabled Projects.n
        associate-role: References an [AssociateRole](ctp:api:type:AssociateRole). Only available for [B2B](/offering/commerce-b2b)-enabled Projects.n
        attribute-group: References an [AttributeGroup](ctp:api:type:AttributeGroup).n
        business-unit: References a [BusinessUnit](ctp:api:type:BusinessUnit). Only available for [B2B](/offering/commerce-b2b)-enabled Projects.n
        cart: References a [Cart](ctp:api:type:Cart).n
        cart-discount: References a [CartDiscount](ctp:api:type:CartDiscount).n
        category: References a [Category](ctp:api:type:Category).n
        channel: References a [Channel](ctp:api:type:Channel).n
        customer: References a [Customer](ctp:api:type:Customer).n
        customer-email-token: References a [CustomerToken](ctp:api:type:CustomerToken) for [email verification](/api/projects/customers#email-verification-of-customer).n
        customer-group: References a [CustomerGroup](ctp:api:type:CustomerGroup).n
        customer-password-token: References a [CustomerToken](ctp:api:type:CustomerToken) for [password reset](/api/projects/customers#password-reset-of-customer).n
        direct-discount: References a [DirectDiscount](ctp:api:type:DirectDiscount).n
        discount-code: References a [DiscountCode](ctp:api:type:DiscountCode).n
        discount-group: References a [DiscountGroup](ctp:api:type:DiscountGroup).n
        extension: References an [Extension](ctp:api:type:Extension).n
        inventory-entry: References an [InventoryEntry](ctp:api:type:InventoryEntry).n
        key-value-document: References a [CustomObject](ctp:api:type:CustomObject).n
        mcp-server: References an [McpServer](ctp:api:type:McpServer).n
        order: References an [Order](ctp:api:type:Order).n
        order-edit: References an [Order Edit](ctp:api:type:OrderEdit).n
        payment-method: References a [PaymentMethod](ctp:api:type:PaymentMethod).n
        payment: References a [Payment](ctp:api:type:Payment).n
        product: References a [Product](ctp:api:type:Product).n
        product-discount: References a [ProductDiscount](ctp:api:type:ProductDiscount).n
        product-price: References an [Embedded Price](ctp:api:type:Price).n
        product-selection: References a [ProductSelection](ctp:api:type:ProductSelection).n
        product-tailoring: References a [ProductTailoring](ctp:api:type:ProductTailoring).n
        product-type: References a [ProductType](ctp:api:type:ProductType).n
        quote: References a [Quote](ctp:api:type:Quote).n
        quote-request: References a [QuoteRequest](ctp:api:type:QuoteRequest).n
        recurring-order: References a [RecurringOrder](ctp:api:type:RecurringOrder).n
        recurrence-policy: References a [RecurrencePolicy](ctp:api:type:RecurrencePolicy).n
        reservation: References a [Reservation](ctp:api:type:Reservation).n
        review: References a [Review](ctp:api:type:Review).n
        shipping-method: References a [ShippingMethod](ctp:api:type:ShippingMethod).n
        shopping-list: References a [ShoppingList](ctp:api:type:ShoppingList).n
        staged-quote: References a [StagedQuote](ctp:api:type:StagedQuote).n
        standalone-price: References a [StandalonePrice](ctp:api:type:StandalonePrice).n
        state: References a [State](ctp:api:type:State).n
        store: References a [Store](ctp:api:type:Store).n
        subscription: References a [Subscription](ctp:api:type:Subscription).n
        tax-category: References a [TaxCategory](ctp:api:type:TaxCategory).n
        type: References a [Type](ctp:api:type:Type).n
        variant: References a [Variant](ctp:api:type:Variant).n
        zone: References a [Zone](ctp:api:type:Zone).n
    CustomObject:
      allOf:
      - $ref: '#/components/schemas/BaseResource'
      - type: object
        required:
        - container
        - createdAt
        - id
        - key
        - lastModifiedAt
        - value
        - version
        properties:
          id:
            type: string
          version:
            type: integer
            format: int64
          createdAt:
            type: string
            format: datetime
          lastModifiedAt:
            type: string
            format: datetime
          lastModifiedBy:
            $ref: '#/components/schemas/LastModifiedBy'
          createdBy:
            $ref: '#/components/schemas/CreatedBy'
          container:
            type: string
          key:
            type: string
          value: {}
    CustomObjectDraft:
      type: object
      required:
      - container
      - key
      - value
      properties:
        container:
          type: string
        key:
          type: string
        value: {}
        version:
          type: integer
          format: int64
    CustomObjectPagedQueryResponse:
      type: object
      required:
      - count
      - limit
      - offset
      - results
      properties:
        limit:
          type: integer
          format: int64
        offset:
          type: integer
          format: int64
        count:
          type: integer
          format: int64
        total:
          type: integer
          format: int64
        results:
          type: array
          items:
            $ref: '#/components/schemas/CustomObject'
    CustomerGroup:
      allOf:
      - $ref: '#/components/schemas/BaseResource'
      - type: object
        required:
        - createdAt
        - id
        - lastModifiedAt
        - name
        - version
        properties:
          id:
            type: string
          version:
            type: integer
            format: int64
          createdAt:
            type: string
            format: datetime
          lastModifiedAt:
            type: string
            format: datetime
          lastModifiedBy:
            $ref: '#/components/schemas/LastModifiedBy'
          createdBy:
            $ref: '#/components/schemas/CreatedBy'
          key:
            type: string
          name:
            type: string
          custom:
            $ref: '#/components/schemas/CustomFields'
    CustomerGroupReference:
      allOf:
      - $ref: '#/components/schemas/Reference'
      - type: object
        required:
        - id
        - typeId
        properties:
          typeId:
            $ref: '#/components/schemas/ReferenceTypeId'
          id:
            type: string
          obj:
            $ref: '#/components/schemas/CustomerGroup'
    AuthenticationMode:
      type: string
      enum:
      - Password
      - ExternalAuth
      x-annotation-package: Customer
      x-annotation-enumDescriptions:
        Password: This is the default value. If set, the `password` field is required on [CustomerDraft](ctp:api:type:CustomerDraft) and is present on [Customer](ctp:api:type:Customer).
        ExternalAuth: If set, the `password` field is optional on [CustomerDraft](ctp:api:type:CustomerDraft) and is not present on [Customer](ctp:api:type:Customer).
    Customer:
      allOf:
      - $ref: '#/components/schemas/BaseResource'
      - type: object
        required:
        - addresses
        - authenticationMode
        - billingAddressIds
        - createdAt
        - customerGroupAssignments
        - email
        - id
        - isEmailVerified
        - lastModifiedAt
        - shippingAddressIds
        - stores
        - version
        properties:
          id:
            type: string
          version:
            type: integer
            format: int64
          createdAt:
            type: string
            format: datetime
          lastModifiedAt:
            type: string
            format: datetime
          key:
            type: string
          customerNumber:
            type: string
          externalId:
            type: string
          lastModifiedBy:
            $ref: '#/components/schemas/LastModifiedBy'
          createdBy:
            $ref: '#/components/schemas/CreatedBy'
          email:
            type: string
          password:
            type: string
          firstName:
            type: string
          lastName:
            type: string
          middleName:
            type: string
          title:
            type: string
          dateOfBirth:
            type: string
            format: date-only
          companyName:
            type: string
          vatId:
            type: string
          addresses:
            type: array
            items:
              $ref: '#/components/schemas/Address'
          defaultShippingAddressId:
            type: string
          shippingAddressIds:
            type: array
            items:
              type: string
          defaultBillingAddressId:
            type: string
          billingAddressIds:
            type: array
            items:
              type: string
          isEmailVerified:
            type: boolean
          customerGroup:
            $ref: '#/components/schemas/CustomerGroupReference'
          customerGroupAssignments:
            type: array
            items:
              $ref: '#/components/schemas/CustomerGroupAssignment'
          custom:
            $ref: '#/components/schemas/CustomFields'
          locale:
            $ref: '#/components/schemas/Locale'
          salutation:
            type: string
          stores:
            type: array
            items:
              $ref: '#/components/schemas/StoreKeyReference'
          authenticationMode:
            $ref: '#/components/schemas/AuthenticationMode'
    CustomerGroupAssignment:
      type: object
      required:
      - customerGroup
      properties:
        customerGroup:
          $ref: '#/components/schemas/CustomerGroupReference'
    CustomerReference:
      allOf:
      - $ref: '#/components/schemas/Reference'
      - type: object
        required:
        - id
        - typeId
        properties:
          typeId:
            $ref: '#/components/schemas/ReferenceTypeId'
          id:
            type: string
          obj:
            $ref: '#/components/schemas/Customer'
    ErrorObject:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
        message:
          type: string
      additionalProperties:
        type: string
    ErrorResponse:
      type: object
      required:
      - message
      - statusCode
      properties:
        statusCode:
          type: integer
          format: int32
        message:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorObject'
    AttributeBooleanType:
      allOf:
      - $ref: '#/components/schemas/AttributeType'
      - type: object
        properties:
          name:
            type: string
    AttributeConstraintEnum:
      type: string
      enum:
      - None
      - Unique
      - CombinationUnique
      - SameForAll
      x-annotation-package: ProductType
      x-annotation-enumDescriptions:
        None: No constraints are applied to the Attribute.n
        Unique: Attribute values must be different for each variant.n
        CombinationUnique: Set of Attributes that have this constraint, should have different combinations in each variant.n
        SameForAll: Attribute value should be the same in all variants.n
    AttributeConstraintEnumDraft:
      type: string
      enum:
      - None
      x-annotation-package: ProductType
    AttributeDateTimeType:
      allOf:
      - $ref: '#/components/schemas/AttributeType'
      - type: object
        properties:
          name:
            type: string
    AttributeDateType:
      allOf:
      - $ref: '#/components/schemas/AttributeType'
      - type: object
        properties:
          name:
            type: string
    AttributeDefinition:
      type: object
      required:
      - attributeConstraint
      - inputHint
      - isRequired
      - isSearchable
      - label
      - level
      - name
      - type
      properties:
        type:
          $ref: '#/components/schemas/AttributeType'
        name:
          type: string
        label:
          $ref: '#/components/schemas/LocalizedString'
        isRequired:
          type: boolean
        level:
          $ref: '#/components/schemas/AttributeLevelEnum'
        attributeConstraint:
          $ref: '#/components/schemas/AttributeConstraintEnum'
        inputTip:
          $ref: '#/components/schemas/LocalizedString'
        inputHint:
          $ref: '#/components/schemas/TextInputHint'
        isSearchable:
          type: boolean
    AttributeDefinitionDraft:
      type: object
      required:
      - isRequired
      - label
      - name
      - type
      properties:
        type:
          $ref: '#/components/schemas/AttributeType'
        name:
          type: string
        label:
          $ref: '#/components/schemas/LocalizedString'
        isRequired:
          type: boolean
        level:
          $ref: '#/components/schemas/AttributeLevelEnum'
        attributeConstraint:
          $ref: '#/components/schemas/AttributeConstraintEnum'
        inputTip:
          $ref: '#/components/schemas/LocalizedString'
        inputHint:
          $ref: '#/components/schemas/TextInputHint'
        isSearchable:
          type: boolean
    AttributeEnumType:
      allOf:
      - $ref: '#/components/schemas/AttributeType'
      - type: object
        required:
        - values
        properties:
          name:
            type: string
          values:
            type: array
            items:
              $ref: '#/components/schemas/AttributePlainEnumValue'
    AttributeLevelEnum:
      type: string
      enum:
      - Product
      - Variant
      x-annotation-package: ProductType
      x-annotation-enumDescriptions:
        Product: Attribute is defined at Product level (**not supported** by [Product Projection Search](/projects/product-projection-search)).
        Variant: Attributes are defined at the Product Variant level.
    AttributeLocalizableTextType:
      allOf:
      - $ref: '#/components/schemas/AttributeType'
      - type: object
        properties:
          name:
            type: string
    AttributeLocalizedEnumType:
      allOf:
      - $ref: '#/components/schemas/AttributeType'
      - type: object
        required:
        - values
        properties:
          name:
            type: string
          values:
            type: array
            items:
              $ref: '#/components/schemas/AttributeLocalizedEnumValue'
    AttributeLocalizedEnumValue:
      type: object
      required:
      - key
      - label
      properties:
        key:
          type: string
        label:
          $ref: '#/components/schemas/LocalizedString'
    AttributeMoneyType:
      allOf:
      - $ref: '#/components/schemas/AttributeType'
      - type: object
        properties:
          name:
            type: string
    AttributeNestedType:
      allOf:
      - $ref: '#/components/schemas/AttributeType'
      - type: object
        required:
        - typeReference
        properties:
          name:
            type: string
          typeReference:
            $ref: '#/components/schemas/ProductTypeReference'
    AttributeNumberType:
      allOf:
      - $ref: '#/components/schemas/AttributeType'
      - type: object
        properties:
          name:
            type: string
    AttributePlainEnumValue:
      type: object
      required:
      - key
      - label
      properties:
        key:
          type: string
        label:
          type: string
    AttributeReferenceType:
      allOf:
      - $ref: '#/components/schemas/AttributeType'
      - type: object
        required:
        - referenceTypeId
        properties:
          name:
            type: string
          referenceTypeId:
            $ref: '#/components/schemas/AttributeReferenceTypeId'
    AttributeReferenceTypeId:
      type: string
      enum:
      - associate-role
      - business-unit
      - cart
      - cart-discount
      - category
      - channel
      - customer
      - customer-group
      - key-value-document
      - order
      - product
      - product-type
      - review
      - shipping-method
      - state
      - variant
      - zone
      x-annotation-package: ProductType
      x-annotation-enumDescriptions:
        associate-role: References a [AssociateRole](ctp:api:type:AssociateRole). Only available for [B2B](/offering/commerce-b2b)-enabled Projects.n
        business-unit: References a [BusinessUnit](ctp:api:type:BusinessUnit). Only available for [B2B](/offering/commerce-b2b)-enabled Projects.n
        cart: References a [Cart](ctp:api:type:Cart).n
        cart-discount: References a [CartDiscount](ctp:api:type:CartDiscount).n
        category: References a [Category](ctp:api:type:Category).n
        channel: References a [Channel](ctp:api:type:Channel).n
        customer: References a [Customer](ctp:api:type:Customer).n
        customer-group: References a [CustomerGroup](ctp:api:type:CustomerGroup).n
        key-value-document: References a [CustomObject](ctp:api:type:CustomObject).n
        order: References an [Order](ctp:api:type:Order).n
        product: References a [Product](ctp:api:type:Product).n
        product-type: References a [ProductType](ctp:api:type:ProductType).n
        review: References a [Review](ctp:api:type:Review).n
        shipping-method: References a [ShippingMethod](ctp:api:type:ShippingMethod).n
        state: References a [State](ctp:api:type:State).n
        variant: References a [Variant](ctp:api:type:Variant). Only available for Projects with `productCatalogModel` set to `Modular`.n
        zone: References a [Zone](ctp:api:type:Zone).n
    AttributeSetType:
      allOf:
      - $ref: '#/components/schemas/AttributeType'
      - type: object
        required:
        - elementType
        properties:
          name:
            type: string
          elementType:
            $ref: '#/components/schemas/AttributeType'
    AttributeTextType:
      allOf:
      - $ref: '#/components/schemas/AttributeType'
      - type: object
        properties:
          name:
            type: string
    AttributeTimeType:
      allOf:
      - $ref: '#/components/schemas/AttributeType'
      - type: object
        properties:
          name:
            type: string
    AttributeType:
      type: object
      discriminator:
        propertyName: name
        mapping:
          boolean: '#/components/schemas/AttributeBooleanType'
          datetime: '#/components/schemas/AttributeDateTimeType'
          date: '#/components/schemas/AttributeDateType'
          enum: '#/components/schemas/AttributeEnumType'
          ltext: '#/components/schemas/AttributeLocalizableTextType'
          lenum: '#/components/schemas/AttributeLocalizedEnumType'
          money: '#/components/schemas/AttributeMoneyType'
          nested: '#/components/schemas/AttributeNestedType'
          number: '#/components/schemas/AttributeNumberType'
          reference: '#/components/schemas/AttributeReferenceType'
          set: '#/components/schemas/AttributeSetType'
          text: '#/components/schemas/AttributeTextType'
          time: '#/components/schemas/AttributeTimeType'
      required:
      - name
      properties:
        name:
          type: string
    ProductType:
      allOf:
      - $ref: '#/components/schemas/BaseResource'
      - type: object
        required:
        - createdAt
        - description
        - id
        - lastModifiedAt
        - name
        - version
        properties:
          id:
            type: string
          version:
            type: integer
            format: int64
          createdAt:
            type: string
            format: datetime
          lastModifiedAt:
            type: string
            format: datetime
          lastModifiedBy:
            $ref: '#/components/schemas/LastModifiedBy'
          createdBy:
            $ref: '#/components/schemas/CreatedBy'
          key:
            type: string
          name:
            type: string
          description:
            type: string
          attributes:
            type: array
            items:
              $ref: '#/components/schemas/AttributeDefinition'
    ProductTypeDraft:
      type: object
      required:
      - description
      - name
      properties:
        key:
          type: string
        name:
          type: string
        description:
          type: string
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/AttributeDefinitionDraft'
    ProductTypePagedQueryResponse:
      type: object
      required:
      - count
      - limit
      - offset
      - results
      properties:
        limit:
          type: integer
          format: int64
        offset:
          type: integer
          format: int64
        count:
          type: integer
          format: int64
        total:
          type: integer
          format: int64
        results:
          type: array
          items:
            $ref: '#/components/schemas/ProductType'
    ProductTypeReference:
      allOf:
      - $ref: '#/components/schemas/Reference'
      - type: object
        required:
        - id
        - typeId
        properties:
          typeId:
            $ref: '#/components/schemas/ReferenceTypeId'
          id:
            type: string
          obj:
            $ref: '#/components/schemas/ProductType'
    ProductTypeUpdate:
      type: object
      required:
      - actions
      - version
      properties:
        version:
          type: integer
          format: int64
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ProductTypeUpdateAction'
    ProductTypeUpdateAction:
      type: object
      discriminator:
        propertyName: action
        mapping:
          addAttributeDefinition: '#/components/schemas/ProductTypeAddAttributeDefinitionAction'
          addLocalizedEnumValue: '#/components/schemas/ProductTypeAddLocalizedEnumValueAction'
          addPlainEnumValue: '#/components/schemas/ProductTypeAddPlainEnumValueAction'
          changeAttributeConstraint: '#/components/schemas/ProductTypeChangeAttributeConstraintAction'
          changeAttributeName: '#/components/schemas/ProductTypeChangeAttributeNameAction'
          changeAttributeOrder: '#/components/schemas/ProductTypeChangeAttributeOrderAction'
          changeAttributeOrderByName: '#/components/schemas/ProductTypeChangeAttributeOrderByNameAction'
          changeDescription: '#/components/schemas/ProductTypeChangeDescriptionAction'
          changeEnumKey: '#/components/schemas/ProductTypeChangeEnumKeyAction'
          changeInputHint: '#/components/schemas/ProductTypeChangeInputHintAction'
          changeIsSearchable: '#/components/schemas/ProductTypeChangeIsSearchableAction'
          changeLabel: '#/components/schemas/ProductTypeChangeLabelAction'
          changeLocalizedEnumValueLabel: '#/components/schemas/ProductTypeChangeLocalizedEnumValueLabelAction'
          changeLocalizedEnumValueOrder: '#/components/schemas/ProductTypeChangeLocalizedEnumValueOrderAction'
          changeName: '#/components/schemas/ProductTypeChangeNameAction'
          changePlainEnumValueLabel: '#/components/schemas/ProductTypeChangePlainEnumValueLabelAction'
          changePlainEnumValueOrder: '#/components/schemas/ProductTypeChangePlainEnumValueOrderAction'
          removeAttributeDefinition: '#/components/schemas/ProductTypeRemoveAttributeDefinitionAction'
          removeEnumValues: '#/components/schemas/ProductTypeRemoveEnumValuesAction'
          setInputTip: '#/components/schemas/ProductTypeSetInputTipAction'
          setKey: '#/components/schemas/ProductTypeSetKeyAction'
      required:
      - action
      properties:
        action:
          type: string
    TextInputHint:
      type: string
      enum:
      - SingleLine
      - MultiLine
      x-annotation-package: ProductType
      x-annotation-enumDescriptions:
        SingleLine: Hint for GUIs to display the field's content in a single line of text.n
        MultiLine: Hint for GUIs to display the field's content over multiple lines of text.n
    ProductTypeAddAttributeDefinitionAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attribute
        properties:
          action:
            type: string
          attribute:
            $ref: '#/components/schemas/AttributeDefinitionDraft'
    ProductTypeAddLocalizedEnumValueAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attributeName
        - value
        properties:
          action:
            type: string
          attributeName:
            type: string
          value:
            $ref: '#/components/schemas/AttributeLocalizedEnumValue'
    ProductTypeAddPlainEnumValueAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attributeName
        - value
        properties:
          action:
            type: string
          attributeName:
            type: string
          value:
            $ref: '#/components/schemas/AttributePlainEnumValue'
    ProductTypeChangeAttributeConstraintAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attributeName
        - newValue
        properties:
          action:
            type: string
          attributeName:
            type: string
          newValue:
            $ref: '#/components/schemas/AttributeConstraintEnumDraft'
    ProductTypeChangeAttributeNameAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attributeName
        - newAttributeName
        properties:
          action:
            type: string
          attributeName:
            type: string
          newAttributeName:
            type: string
    ProductTypeChangeAttributeOrderAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attributes
        properties:
          action:
            type: string
          attributes:
            type: array
            items:
              $ref: '#/components/schemas/AttributeDefinition'
    ProductTypeChangeAttributeOrderByNameAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attributeNames
        properties:
          action:
            type: string
          attributeNames:
            type: array
            items:
              type: string
    ProductTypeChangeDescriptionAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - description
        properties:
          action:
            type: string
          description:
            type: string
    ProductTypeChangeEnumKeyAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attributeName
        - key
        - newKey
        properties:
          action:
            type: string
          attributeName:
            type: string
          key:
            type: string
          newKey:
            type: string
    ProductTypeChangeInputHintAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attributeName
        - newValue
        properties:
          action:
            type: string
          attributeName:
            type: string
          newValue:
            $ref: '#/components/schemas/TextInputHint'
    ProductTypeChangeIsSearchableAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attributeName
        - isSearchable
        properties:
          action:
            type: string
          attributeName:
            type: string
          isSearchable:
            type: boolean
    ProductTypeChangeLabelAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attributeName
        - label
        properties:
          action:
            type: string
          attributeName:
            type: string
          label:
            $ref: '#/components/schemas/LocalizedString'
    ProductTypeChangeLocalizedEnumValueLabelAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attributeName
        - newValue
        properties:
          action:
            type: string
          attributeName:
            type: string
          newValue:
            $ref: '#/components/schemas/AttributeLocalizedEnumValue'
    ProductTypeChangeLocalizedEnumValueOrderAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attributeName
        - values
        properties:
          action:
            type: string
          attributeName:
            type: string
          values:
            type: array
            items:
              $ref: '#/components/schemas/AttributeLocalizedEnumValue'
    ProductTypeChangeNameAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - name
        properties:
          action:
            type: string
          name:
            type: string
    ProductTypeChangePlainEnumValueLabelAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attributeName
        - newValue
        properties:
          action:
            type: string
          attributeName:
            type: string
          newValue:
            $ref: '#/components/schemas/AttributePlainEnumValue'
    ProductTypeChangePlainEnumValueOrderAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attributeName
        - values
        properties:
          action:
            type: string
          attributeName:
            type: string
          values:
            type: array
            items:
              $ref: '#/components/schemas/AttributePlainEnumValue'
    ProductTypeRemoveAttributeDefinitionAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - name
        properties:
          action:
            type: string
          name:
            type: string
    ProductTypeRemoveEnumValuesAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attributeName
        - keys
        properties:
          action:
            type: string
          attributeName:
            type: string
          keys:
            type: array
            items:
              type: string
    ProductTypeSetInputTipAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        required:
        - attributeName
        properties:
          action:
            type: string
          attributeName:
            type: string
          inputTip:
            $ref: '#/components/schemas/LocalizedString'
    ProductTypeSetKeyAction:
      allOf:
      - $ref: '#/components/schemas/ProductTypeUpdateAction'
      - type: object
        properties:
          action:
            type: string
          key:
            type: string
    StoreKeyReference:
      allOf:
      - $ref: '#/components/schemas/KeyReference'
      - type: object
        required:
        - key
        - typeId
        properties:
          typeId:
            $ref: '#/components/schemas/ReferenceTypeId'
          key:
            type: string
    CustomFieldBooleanType:
      allOf:
      - $ref: '#/components/schemas/FieldType'
      - type: object
        properties:
          name:
            type: string
    CustomFieldDateTimeType:
      allOf:
      - $ref: '#/components/schemas/FieldType'
      - type: object
        properties:
          name:
            type: string
    CustomFieldDateType:
      allOf:
      - $ref: '#/components/schemas/FieldType'
      - type: object
        properties:
          name:
            type: string
    CustomFieldEnumType:
      allOf:
      - $ref: '#/components/schemas/FieldType'
      - type: object
        required:
        - values
        properties:
          name:
            type: string
          values:
            type: array
            items:
              $ref: '#/components/schemas/CustomFieldEnumValue'
    CustomFieldEnumValue:
      type: object
      required:
      - key
      - label
      properties:
        key:
          type: string
        label:
          type: string
    CustomFieldLocalizedEnumType:
      allOf:
      - $ref: '#/components/schemas/FieldType'
      - type: object
        required:
        - values
        properties:
          name:
            type: string
          values:
            type: array
            items:
              $ref: '#/components/schemas/CustomFieldLocalizedEnumValue'
    CustomFieldLocalizedEnumValue:
      type: object
      required:
      - key
      - label
      properties:
        key:
          type: string
        label:
          $ref: '#/components/schemas/LocalizedString'
    CustomFieldLocalizedStringType:
      allOf:
      - $ref: '#/components/schemas/FieldType'
      - type: object
        properties:
          name:
            type: string
    CustomFieldMoneyType:
      allOf:
      - $ref: '#/components/schemas/FieldType'
      - type: object
        properties:
          name:
            type: string
    CustomFieldNumberType:
      allOf:
      - $ref: '#/components/schemas/FieldType'
      - type: object
        properties:
          name:
            type: string
    CustomFieldReferenceType:
      allOf:
      - $ref: '#/components/schemas/FieldType'
      - type: object
        required:
        - referenceTypeId
        properties:
          name:
            type: string
          referenceTypeId:
            $ref: '#/components/schemas/CustomFieldReferenceValue'
    CustomFieldReferenceValue:
      type: string
      enum:
      - approval-flow
      - approval-rule
      - associate-role
      - business-unit
      - cart
      - cart-discount
      - category
      - channel
      - customer
      - customer-group
      - key-value-document
      - order
      - product
      - product-type
      - review
      - state
      - shipping-method
      - variant
      - zone
      x-annotation-package: Type
      x-annotation-enumDescriptions:
        approval-flow: '[ApprovalFlow](ctp:api:type:ApprovalFlow) - Only available for [B2B](/offering/commerce-b2b)-enabled Projects.n'
        approval-rule: '[ApprovalRule](ctp:api:type:ApprovalRule) - Only available for [B2B](/offering/commerce-b2b)-enabled Projects.n'
        associate-role: '[AssociateRole](ctp:api:type:AssociateRole) - Only available for [B2B](/offering/commerce-b2b)-enabled Projects.n'
        business-unit: '[BusinessUnit](ctp:api:type:BusinessUnit) - Only available for [B2B](/offering/commerce-b2b)-enabled Projects.n'
        cart: '[Cart](ctp:api:type:Cart)n'
        cart-discount: '[CartDiscount](ctp:api:type:CartDiscount)n'
        category: '[Category](ctp:api:type:Category)n'
        channel: '[Channel](ctp:api:type:Channel)n'
        customer: '[Customer](ctp:api:type:Customer)n'
        customer-group: '[CustomerGroup](ctp:api:type:CustomerGroup)n'
        key-value-document: '[CustomObject](ctp:api:type:CustomObject)n'
        order: '[Order](ctp:api:type:Order)n'
        product: '[Product](ctp:api:type:Product)n'
        product-type: '[ProductType](ctp:api:type:ProductType)n'
        review: '[Review](ctp:api:type:Review)n'
        state: '[State](ctp:api:type:State)n'
        shipping-method: '[ShippingMethod](ctp:api:type:ShippingMethod)n'
        variant: '[Variant](ctp:api:type:Variant) - Only available for Projects with `productCatalogModel` set to `Modular`.n'
        zone: '[Zone](ctp:api:type:Zone)n'
    CustomFieldSetType:
      allOf:
      - $ref: '#/components/schemas/FieldType'
      - type: object
        required:
        - elementType
        properties:
          name:
            type: string
          elementType:
            $ref: '#/components/schemas/FieldType'
    CustomFieldStringType:
      allOf:
      - $ref: '#/components/schemas/FieldType'
      - type: object
        properties:
          name:
            type: string
    CustomFieldTimeType:
      allOf:
      - $ref: '#/components/schemas/FieldType'
      - type: object
        properties:
          name:
            type: string
    CustomFields:
      type: object
      required:
      - fields
      - type
      properties:
        type:
          $ref: '#/components/schemas/TypeReference'
        fields:
          $ref: '#/components/schemas/FieldContainer'
    FieldContainer:
      type: object
      required:
      - /^[a-zA-Z0-9_-]{2,36}$/
      additionalProperties:
        type: string
    FieldDefinition:
      type: object
      required:
      - label
      - name
      - required
      - type
      properties:
        type:
          $ref: '#/components/schemas/FieldType'
        name:
          type: string
        label:
          $ref: '#/components/schemas/LocalizedString'
        required:
          type: boolean
        inputHint:
          $ref: '#/components/schemas/TypeTextInputHint'
    FieldType:
      type: object
      discriminator:
        propertyName: name
        mapping:
          Boolean: '#/components/schemas/CustomFieldBooleanType'
          DateTime: '#/components/schemas/CustomFieldDateTimeType'
          Date: '#/components/schemas/CustomFieldDateType'
          Enum: '#/components/schemas/CustomFieldEnumType'
          LocalizedEnum: '#/components/schemas/CustomFieldLocalizedEnumType'
          LocalizedString: '#/components/schemas/CustomFieldLocalizedStringType'
          Money: '#/components/schemas/CustomFieldMoneyType'
          Number: '#/components/schemas/CustomFieldNumberType'
          Reference: '#/components/schemas/CustomFieldReferenceType'
          Set: '#/components/schemas/CustomFieldSetType'
          String: '#/components/schemas/CustomFieldStringType'
          Time: '#/components/schemas/CustomFieldTimeType'
      required:
      - name
      properties:
        name:
          type: string
    ResourceTypeId:
      type: string
      enum:
      - address
      - asset
      - approval-flow
      - approval-rule
      - associate-role
      - business-unit
      - cart-discount
      - category
      - channel
      - customer
      - customer-group
      - custom-line-item
      - discount-code
      - inventory-entry
      - line-item
      - order
      - order-edit
      - order-delivery
      - order-parcel
      - order-return-item
      - payment
      - payment-interface-interaction
      - payment-method
      - payment-method-info
      - product-price
      - product-selection
      - product-tailoring
      - quote
      - reservation
      - review
      - recurring-order
      - shipping
      - shipping-method
      - shopping-list
      - shopping-list-text-line-item
      - standalone-price
      - store
      - transaction
      x-annotation-package: Type
      x-annotation-enumDescriptions:
        address: '[Address](ctp:api:type:Address) on [BusinessUnit](ctp:api:type:BusinessUnit), [Cart](ctp:api:type:Cart), [Order](ctp:api:type:Order), [OrderEdit](ctp:api:type:OrderEdit), [Customer](ctp:api:type:Customer), and [Channel](ctp:api:type:Channel)n'
        asset: '[Asset](ctp:api:type:Asset) on [Category](ctp:api:type:Category) and [ProductVariant](ctp:api:type:ProductVariant)n'
        approval-flow: '[ApprovalFlow](ctp:api:type:ApprovalFlow) - Only available for [B2B](/offering/commerce-b2b)-enabled Projects.n'
        approval-rule: '[ApprovalRule](ctp:api:type:ApprovalRule) - Only available for [B2B](/offering/commerce-b2b)-enabled Projects.n'
        associate-role: '[AssociateRole](ctp:api:type:AssociateRole) - Only available for [B2B](/offering/commerce-b2b)-enabled Projects.n'
        business-unit: '[BusinessUnit](ctp:api:type:BusinessUnit) - Only available for [B2B](/offering/commerce-b2b)-enabled Projects.n'
        cart-discount: '[CartDiscount](ctp:api:type:CartDiscount)n'
        category: '[Category](ctp:api:type:Category)n'
        channel: '[Channel](ctp:api:type:Channel)n'
        custom-line-item: '[CustomLineItem](ctp:api:type:CustomLineItem) on [Cart](ctp:api:type:Cart) and [Order](ctp:api:type:Order)n'
        customer: '[Customer](ctp:api:type:Customer)n'
        customer-group: '[CustomerGroup](ctp:api:type:CustomerGroup)n'
        discount-code: '[DiscountCode](ctp:api:type:DiscountCode)n'
        inventory-entry: '[InventoryEntry](ctp:api:type:InventoryEntry)n'
        line-item: '[LineItem](ctp:api:type:LineItem) on [Cart](ctp:api:type:Cart) and [Order](ctp:api:type:Order), and [LineItem](ctp:api:type:LineItem) on [ShoppingList](ctp:api:type:ShoppingList)n'
        order: '[Cart](ctp:api:type:Cart) and [Order](ctp:api:type:Order).nWhen a [Cart](ctp:api:type:Cart) is ordered, the [CustomFields](ctp:api:type:CustomFields) need to be copied to the [Order](ctp:api:type:Order).nFor this reason, the Types for Carts are also valid for Orders, and hence both have the same identifier: `order`.n'
        order-edit: '[OrderEdit](ctp:api:type:OrderEdit)n'
        order-delivery: '[Delivery](ctp:api:type:Delivery)n'
        order-parcel: '[Parcel](ctp:api:type:Parcel)n'
        order-return-item: '[ReturnItem](ctp:api:type:ReturnItem)n'
        payment: '[Payment](ctp:api:type:Payment)n'
        payment-interface-interaction: '[InterfaceInteraction](ctp:api:type:PaymentAddInterfaceInteractionAction) on [Payment](ctp:api:type:Payment)n'
        payment-method: '[PaymentMethod](ctp:api:type:PaymentMethod)n'
        payment-method-info: '[PaymentMethodInfo](ctp:api:type:PaymentMethodInfo) on [Payment](ctp:api:type:Payment)n'
        product-price: '[Embedded Price](ctp:api:type:Price) on [ProductVariant](ctp:api:type:ProductVariant)n'
        product-selection: '[ProductSelection](ctp:api:type:ProductSelection)n'
        product-tailoring: '[ProductTailoring](ctp:api:type:ProductTailoring)n'
        quote: '[Quote](ctp:api:type:Quote), [QuoteRequest](ctp:api:type:QuoteRequest) and [StagedQuote](ctp:api:type:StagedQuote).nWhen a [StagedQuote](ctp:api:type:StagedQuote) is created, the [CustomFields](ctp:api:type:CustomFields) will be copied from the [QuoteRequest](ctp:api:type:QuoteRequest) and when a [Quote](ctp:api:type:Quote) is created, the [CustomFields](ctp:api:type:CustomFields) will be copied from the [StagedQuote](ctp:api:type:StagedQuote).nFor this reason, the Types for Quotes are also valid for QuoteRequests and StagedQuotes, and hence all have the same identifier: `quote`.n'
        reservation: '[Reservation](ctp:api:type:Reservation)n'
        review: '[Review](ctp:api:type:Review)n'
        recurring-order: '[RecurringOrder](ctp:api:type:RecurringOrder)n'
        shipping: '[Shipping](ctp:api:type:Shipping)n'
        shipping-method: '[ShippingMethod](ctp:api:type:ShippingMethod)n'
        shopping-list: '[ShoppingList](ctp:api:type:ShoppingList)n'
        shopping-list-text-line-item: '[TextLineItem](ctp:api:type:TextLineItem) on [ShoppingList](ctp:api:type:ShoppingList)n'
        standalone-price: '[StandalonePrice](ctp:api:type:StandalonePrice)n'
        store: '[Store](ctp:api:type:Store)n'
        transaction: '[Transaction](ctp:api:type:Transaction) on [Payment](ctp:api:type:Payment)n'
    Type:
      allOf:
      - $ref: '#/components/schemas/BaseResource'
      - type: object
        required:
        - createdAt
        - fieldDefinitions
        - id
        - key
        - lastModifiedAt
        - name
        - resourceTypeIds
        - version
        properties:
          id:
            type: string
          version:
            type: integer
            format: int64
          createdAt:
            type: string
            format: datetime
          lastModifiedAt:
            type: string
            format: datetime
          lastModifiedBy:
            $ref: '#/components/schemas/LastModifiedBy'
          createdBy:
            $ref: '#/components/schemas/CreatedBy'
          key:
            type: string
          name:
            $ref: '#/components/schemas/LocalizedString'
          description:
            $ref: '#/components/schemas/LocalizedString'
          resourceTypeIds:
            type: array
            items:
              $ref: '#/components/schemas/ResourceTypeId'
          fieldDefinitions:
            type: array
            items:
              $ref: '#/components/schemas/FieldDefinition'
    TypeDraft:
      type: object
      required:
      - key
      - name
      - resourceTypeIds
      properties:
        key:
          type: string
        name:
          $ref: '#/components/schemas/LocalizedString'
        description:
          $ref: '#/components/schemas/LocalizedString'
        resourceTypeIds:
          type: array
          items:
            $ref: '#/components/schemas/ResourceTypeId'
        fieldDefinitions:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
    TypePagedQueryResponse:
      type: object
      required:
      - count
      - limit
      - offset
      - results
      properties:
[...]
